- eleven_labs_url = "https://start.elevenlabs.io/c/exercism?utm_source=exercism&utm_medium=cpm&utm_campaign=exercism_-_media_buy&utm_content=exercism_-_newsletter"
= t('.sponsor_banner', url: eleven_labs_url)
\
= t('.greeting', handle: @user.handle)
\
= t('.intro')
\
= t('.ama_invite')
\
= t('.introducing_heading')
\
= t('.introducing_body')
\
= t('.coding_fundamentals_bullet')
= t('.build_with_jeremy_bullet')
\
= t('.pricing_body')
\
= t('.translating_heading')
\
= t('.translating_body')
\
- if @translator
  = t('.translator_signed_up')
- else
  = t('.translator_invite')
\
= t('.elevenlabs_body', url: eleven_labs_url)
\
= t('.sponsor_offer_heading')
= t('.sponsor_offer_body', url: eleven_labs_url)
\
= t('.exercism_update_heading')
\
= t('.exercism_update_body')
\
= t('.thanks_body')
\
= t('.signoff')
\
= t('.signature_name')
= t('.signature_title')
\
___
\
= t('.why_receiving_heading')
\
= t('.why_receiving_body', root_url: root_url)
\
= t('.unsubscribe_body', unsubscribe_url: unsubscribe_url(token: @user.communication_preferences.token, key: @email_communication_preferences_key), settings_url: unsubscribe_url(token: @user.communication_preferences.token))
