- require_stylesheet "about"
- require_stylesheet "admin"
.py-20
  .lg-container
    %h1.text-h1= @partner.name

    %hr.my-32.border-borderColor5

    %h2.text-h2.mb-12= t('.perks')
    %table.mb-12.c-admin-table
      %tr
        %th= t('.perk')
        %th= t('.status')
        %th= t('.clicks')
        %th{ colspan: 2 }
      - @partner.perks.each do |perk|
        %tr
          %td
            %div{ class: 'max-w-[443px]' }= render ViewComponents::Partner::Perk.new(perk)
          %td.w-arbitary
            %span{ class: "c-perk-status-tag #{perk.status}" }= perk.status.titleize
          %td.w-arbitary= perk.num_clicks
          %td.w-arbitary= link_to t('.details'), admin_partner_perk_path(@partner, perk)
          %td.w-arbitary= link_to t('.edit'), edit_admin_partner_perk_path(@partner, perk)
    .flex
      = link_to t('.add_new_perk'), new_admin_partner_perk_path(@partner), class: 'btn btn-primary btn-base'

    %hr.my-32.border-borderColor5

    %h2.text-h2.mb-12= t('.adverts')
    %table.mb-12.c-admin-table
      %tr
        %th= t('.advert')
        %th= t('.status')
        %th= t('.track_slugs')
        %th= t('.impressions')
        %th= t('.clicks')
        %th{ colspan: 2 }
      - @partner.adverts.each do |advert|
        %tr
          %td= render ViewComponents::Partner::Advert.new(advert:, preview: true)
          %td.w-arbitary
            %span{ class: "c-perk-status-tag #{advert.status}" }= advert.status.titleize
          %td.w-arbitary= advert.track_slugs
          %td.w-arbitary= advert.num_impressions
          %td.w-arbitary= advert.num_clicks
          %td.w-arbitary= link_to t('.details'), admin_partner_advert_path(@partner, advert)
          %td.w-arbitary= link_to t('.edit'), edit_admin_partner_advert_path(@partner, advert)
    .flex
      = link_to t('.add_new_advert'), new_admin_partner_advert_path(@partner), class: 'btn btn-primary btn-base'

    %hr.my-32.border-borderColor5

    .flex.gap-16.mt-32
      = link_to t('.edit_this_partner'), edit_admin_partner_path(@partner), class: 'btn btn-standard btn-base'
      = link_to t('.back_to_partners'), admin_partners_path, class: 'btn btn-standard btn-base'
