#page-error.pt-60.pt-40
  .sm-container
    .flex.items-center
      .mr-40
        .text-purple.leading-110{ style: "font-size: 128px" } 429
        %h1.text-h1.mb-16= t('.heading')
        %p.text-textColor6.text-24.leading-150.font-semibold.mb-12= t('.lead')
        %p.text-textColor6.text-24.leading-150.font-regular.mb-12= t('.body')
        %p.text-textColor6.text-24.leading-150.font-regular= t('.contact_html', forum_link: link_to(t('.forum_link_text'), "https://exercism.org/r/forum", class: "text-linkColor font-semibold")).html_safe
      = graphical_icon "error-429", category: :graphics, css_class: 'ml-auto flex-shrink-0 w-[250px]'
