- content_for :canonical_url, new_user_session_url

#page-auth
  %section.form-section
    .inner
      = link_to root_path, class: 'logo' do
        = icon "exercism-with-logo-black", t('.exercism_logo_alt')

      %p.tagline= t('.tagline')

      -# GitHub-only login: local email/password sign-in has been removed.
      = button_to omniauth_authorize_path(:user, :github), form_class: "github-btn", class: "btn-enhanced btn-l", method: :post, data: { turbo: false } do
        = graphical_icon 'external-site-github'
        = t('.log_in_with_github')

      = flash_messages

  = render "devise/shared/information"
