#countdown-bar
  %strong.inline-block= t('.countdown.late_enrollments')
  %span.inline-block
    = t('.countdown.watch_back')
    = succeed('.') do
      = link_to t('.countdown.first_live_session'), "https://www.youtube.com/live/bOAL_EIFwhg&start=1400", class: "underline font-semibold"

#nav
  .lg-container.flex.flex-row.gap-8.items-center
    = image_tag "bootcamp/exercism-face-light.svg", class: 'exercism-face'
    .content
      %strong.font-semibold Exercism
      = t('.nav.bootcamp')
    = link_to t('.nav.watch_first_session'), "https://www.youtube.com/live/bOAL_EIFwhg&start=1400", class: "first-session", target: "_blank", rel: 'noopener'
    = link_to t('.nav.enroll_now'), bootcamp_enroll_path, class: "button"

.hero
  .md-container
    .text-center
      %h1.rock-solid
        = t('.hero.build_rock_solid')
        %span= t('.hero.foundations')
      .tagline
        = t('.hero.tagline_start')
        %strong= t('.hero.coding_bootcamp')
        = t('.hero.tagline_end')
        = t('.hero.starts')
        %strong= t('.hero.start_date')

    .bubbles
      .bubble
        = image_tag "bootcamp/wave.svg"
        .text
          %strong= t('.hero.live')
          = t('.hero.teaching')
      .bubble
        = image_tag "bootcamp/fun.svg"
        .text
          %strong= t('.hero.fun')
          = t('.hero.projects')
      .bubble
        - if @has_discount
          .flag= flag_for_country_code(@country_code_2)
          .text
            %span.line-through{ class: 'text-[#666]' } $#{@full_complete_price}
            = t('.hero.only')
            %strong $#{@complete_price}
        - else
          = image_tag "bootcamp/cost.svg"
          .text
            = t('.hero.only')
            %strong $#{@full_complete_price}

    .video-container
      .video
        <iframe src="https://player.vimeo.com/video/1024390839?h=c2b3bdce14&amp;badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479" frameborder="0" allow="autoplay; fullscreen; picture-in-picture; clipboard-write" style="position:absolute;top:0;left:0;width:100%;height:100%;" title="bootcamp"></iframe>
        <script src="https://player.vimeo.com/api/player.js"></script>

    .supported-by
      %h3= t('.hero.supporters_include')
      .logos
        = image_tag "bootcamp/google.png", class: 'h-[42px] mt-[3px]'
        = image_tag "bootcamp/chicago.svg", class: 'h-[38px]'
        = image_tag "bootcamp/mozilla.svg", class: 'h-[38px] mt-[-7px]'
        = image_tag "bootcamp/packt.svg", class: 'h-[38px] mt-[2px]'

  .paper-tear

%section.welcome
  .md-container
    .flex.flex-col.items-center.gap-40
      .flex.flex-col.items-stretch
        %h2.mb-12
          = t('.welcome.are_you_ready')
          %span.font-semibold.intro-aspiring-coder.rough-highlight= t('.welcome.learn_to_code')
        %p= t('.welcome.maybe_youve_tried')
        %p
          = t('.welcome.looking_for_something')
          %strong.font-regular.intro-fun-and-creative.rough-highlight= t('.welcome.fun_and_creative')
          = t('.welcome.where_you')
          %strong.font-regular.intro-learn-by-doing.rough-highlight= t('.welcome.learn_by_making')
          = t('.welcome.world_class')
        %p.font-regular.mb-12
          = t('.welcome.well_then')
          %strong.font-medium
            %span.intro-you= t('.welcome.course_for_you')
        .flex.flex-col.items-center.mb-12
          = image_tag "bootcamp/arrow-1.svg", class: 'h-[168px]'

    %h3
      = t('.welcome.hi_there')
      %span.waving-hand
        👋
      = t('.welcome.im_jeremy')
      .inline.rough-highlight= t('.welcome.two_million_people')
      = t('.welcome.level_up_skills')
    %p= t('.welcome.worrying_trend')
    %p
      = t('.welcome.more_and_more')
      %strong= t('.welcome.struggling_more')
      = t('.welcome.struggling_with')

    %p= t('.welcome.started_reading')
    %h3
      %span.inline.rough-highlight= t('.welcome.give_up_stat')
      🤯

    %p= t('.welcome.how_could_it_be')
    %p= t('.welcome.went_investigating')
    %p
      = t('.welcome.i_watched')
      %strong= t('.welcome.popular_videos')
      = t('.welcome.tried_the_best')
      %strong= t('.welcome.online_courses')
      = t('.welcome.paid_my_friends')

    %p= t('.welcome.dug_into_research')

    %h3
      %span.inline.rough-highlight= t('.welcome.taught_to_fail')
    %p
      = t('.welcome.started_at_8')
      %strong= t('.welcome.make_stuff')

    .sm:float-right.mt-20.sm:ml-24.sm:mb-24{ class: "xl:mr-[-100px] mr-0" }
      %div{ class: 'border-white border-[8px] rounded-[5px] lg:w-[300px] sm:w-[220px] w-full', style: "box-shadow: 0 0 10px 0 rgba(0,0,0,0.5);" }
        = image_tag "bootcamp/with-rhodri.jpg", class: 'w-[100%] border-[#aaa] border-[1px] rounded-[1px]'
        .text-14.text-center.font-normal.pt-8.px-8{ class: "leading-[140%]" }
          %span.lg:hidden.inline= t('.welcome.caption_me')
          %span.lg:inline.hidden= t('.welcome.caption_me_rhodri')

    %p.mt-16
      = t('.welcome.make_stuff_i_did')
      %span.sm:hidden.inline= t('.welcome.eventually_customers')
      %span.sm:inline.hidden.relative
        %span#eventually-underline.rough-underline.whitespace-nowrap
          = t('.welcome.eventually_customers')
        %span#rhodri.arrow-animation

    %p= t('.welcome.i_created')
    %p
      = t('.welcome.got_really_good')
      %strong= t('.welcome.learned_mindset')
      = t('.welcome.laid_foundations')
    %p
      %strong.rough-highlight= t('.welcome.not_how_modern')
      = t('.welcome.space_to_practice')
    %p
      = t('.welcome.wont_learn_that_way')
      %strong= t('.welcome.bored_frustrated')
      = t('.welcome.probably_quit_lead')
      %strong= t('.welcome.probably_quit')

    %h3
      %span.rough-highlight= t('.welcome.master_the_basics')

    %p
      = t('.welcome.best_coders')
      %strong= t('.welcome.are_not')
      = t('.welcome.know_the_most')
    %p
      = t('.welcome.best_coders_are')
      %strong.rough-highlight= t('.welcome.total_mastery')
      = t('.welcome.once_basics_down')
    %p= t('.welcome.way_to_master')
    %p= t('.welcome.take_on_challenges')
    %h3
      %span.rough-highlight= t('.welcome.so_thats_what')

    %p
      = t('.welcome.last_year')
      %strong= t('.welcome.total_beginners')
      = t('.welcome.entirely_focused')
      %strong= t('.welcome.learning_by_doing')
      = t('.welcome.coding_from_day_one')
      %strong.font-semibold.rough-highlight= t('.welcome.coding_a_lot')
    %p
      = t('.welcome.once_just_once')
      %strong= t('.welcome.interactive_bootcamp')
      = t('.welcome.where')
      %strong= t('.welcome.guide_you')
      = t('.welcome.explore_ideas')
    %p
      = t('.welcome.for_3_months')
      %strong= t('.welcome.think_like_coder')
      = t('.welcome.then_web_dev')
    %p
      = t('.welcome.if_sounds_exciting')
      %strong= t('.welcome.love_to_join')

%section#bootcamp
  .lg-container
    .container.syllabus
      .tag= t('.works.how_it_works')
      %h2
        %strong Exercism
        = t('.works.bootcamp')
      %p.intro.mb-24.text-balance
        = t('.works.split_two_halves')

      .sections
        .section.mb-32
          .lhs
            %h3.mb-8
              = t('.works.part1_title')
              .bubble= t('.works.part1_bubble')

            .part-intro.mb-20
              = t('.works.part1_intro_start')
              %span.rough-highlight.font-medium= t('.works.part1_foundations')
              = t('.works.part1_intro_end')

            %ul
              %li
                = image_tag "bootcamp/understanding.svg"
                .text
                  %strong= t('.works.solid_understanding_lead')
                  = t('.works.solid_understanding')
              %li
                = image_tag "bootcamp/confidence.svg"
                .text
                  %strong= t('.works.confidence_lead')
                  = t('.works.confidence')
              %li
                = image_tag "bootcamp/coders-mind.svg"
                .text
                  %strong= t('.works.coders_mind_lead')
                  = t('.works.coders_mind')
          .rhs
            .dates.h3-sideheading.relative
              = image_tag "bootcamp/calendar.svg"
              = t('.works.part1_dates')
            = image_tag "bootcamp/part-1.png", class: 'w-[350px] -mr-32 -mt-[60px]'

        .section.relative
          #part-2-arrow.arrow-animation
          .lhs
            %h3.mb-8
              = t('.works.part2_title')
              .bubble= t('.works.part2_bubble')
            .part-intro
              = t('.works.part2_intro_start')
              %span.rough-highlight.font-medium= t('.works.part2_frontend')
              = t('.works.part2_intro_end')

            %ul
              %li
                = image_tag "bootcamp/javascript.svg"
                .text
                  %strong= t('.works.javascript_lead')
                  = t('.works.javascript')

              %li
                = image_tag "bootcamp/html.svg"
                .text
                  %strong= t('.works.html_css_lead')
                  = t('.works.html_css')

              %li
                = image_tag "bootcamp/work-locally.svg"
                .text
                  %strong= t('.works.vscode_git_lead')
                  = t('.works.vscode_git')

              %li
                = image_tag "bootcamp/portfolio.svg"
                .text
                  %strong= t('.works.portfolio_lead')
                  = t('.works.portfolio')
          .rhs
            .dates.h3-sideheading.z-overlay
              = image_tag "bootcamp/calendar.svg"
              = t('.works.part2_dates')
            = image_tag "bootcamp/part-2.png", class: 'w-[350px] -mr-32 -mt-[60px]'

  .lg-container
    #schedule-subsection.subcontainer.relative
      #schedule-arrow.arrow-animation
      .flex.flex-col.mb-8{ class: 'lg:flex-row' }
        %h3.mr-auto
          = t('.schedule.your_week')
        .h3-sideheading.flex.mt-8.flex-wrap
          .flex.items-center.gap-8
            = image_tag "bootcamp/teacher.svg"
            .mr-20.whitespace-nowrap= t('.schedule.hours_teaching')
          .flex.items-center.gap-8
            = image_tag "bootcamp/study.svg"
            .mr-20.whitespace-nowrap= t('.schedule.hours_project_work')
      %p.mb-12
        = t('.schedule.mix_of_sessions')

      %ul
        %li
          = image_tag "bootcamp/teacher-illustration.svg"
          %h4= t('.schedule.teaching_sessions_title')
          %p= t('.schedule.teaching_sessions_body')
        %li
          = image_tag "bootcamp/coding-illustration.svg"
          .text
            %h4= t('.schedule.fun_coding_title')
            %p= t('.schedule.fun_coding_body')
        %li
          = image_tag "bootcamp/unstuck-illustration.svg"
          .text
            %h4= t('.schedule.get_help_title')
            %p= t('.schedule.get_help_body')
        %li
          = image_tag "bootcamp/discussion-illustration.svg", class: "scale-x-[-1]"
          .text
            %h4= t('.schedule.discussing_title')
            %p= t('.schedule.discussing_body')

  .lg-container
    #portfolio-subsection.subcontainer.relative
      #portfolio-arrow.arrow-animation
      .flex.flex-col.mb-8{ class: 'lg:flex-row' }
        %h3.mr-auto
          = t('.portfolio.things_well_build')
        .h3-sideheading
          = t('.portfolio.build_your_portfolio')
      %p.mb-16
        = t('.portfolio.focus_from_day_one')
      .projects
        .project.snake
          .img
          .title
            = t('.portfolio.snake_start')
            %strong= t('.portfolio.snake_name')
            = t('.portfolio.snake_end')
        .project.tetris
          .img
          .title
            = t('.portfolio.tetris_start')
            %strong= t('.portfolio.tetris_name')
            = t('.portfolio.tetris_end')
        .project.breakout
          .img
          .title
            = t('.portfolio.breakout_start')
            %strong= t('.portfolio.breakout_name')
        .project.tic-tac-toe
          .img
          .title
            = t('.portfolio.ttt_start')
            %strong= t('.portfolio.ttt_name')
        .project.weather
          .img
          .title
            = t('.portfolio.weather_start')
            %strong= t('.portfolio.weather_name')
        .project.story
          .img
          .title
            = t('.portfolio.story_start')
            %strong= t('.portfolio.story_name')
        .project.positive
          .img
          .title
            = t('.portfolio.positive_start')
            %strong= t('.portfolio.positive_name')
            = t('.portfolio.positive_end')
        .project.piano
          .img
          .title
            = t('.portfolio.piano_start')
            %strong= t('.portfolio.piano_name')
            = t('.portfolio.piano_end')

  .lg-container
    .subcontainer
      #certificate-arrow.arrow-animation
      #certificate-subsection
        .flex.lg:flex-row.flex-col.items-center.gap-0

          .lhs.flex.flex-col.items-start
            .bubble= t('.certificate.celebrate')
            %h3.mb-8= t('.certificate.get_verified')
            %p.text-16.mb-12= t('.certificate.at_the_end')
            %p.text-16= t('.certificate.show_off')

          = image_tag "bootcamp/certificate-arrow.png", class: 'w-[100px] self-middle mt-[100px] mb-10 mr-40 my-10 lg:block hidden'
          .certificate.flex-shrink-0.mt-24.lg:mt-0
            = image_tag "bootcamp/certificate.png", class: 'lg:w-[350px] w-100 rounded-[5px]', style: 'box-shadow: 0 0 20px rgba(0,0,0,0.4)'
        .linkedin
          = image_tag "bootcamp/linkedin.png"
          %span= t('.certificate.share_in_network')

%section#testimonial-section
  .lg-container
    .quote
      = image_tag "bootcamp/quote.png", class: 'mark left-mark'
      %span
        = t('.testimonial.quote')
        = image_tag "bootcamp/quote.png", class: 'mark right-mark'
    .person
      .text
        .name Loretta Bresciani Murray
        .description= t('.testimonial.role')
      = image_tag "bootcamp/loretta.png"

%section#signup-section
  .lhs-bg
  .rhs-bg
  .lg-container
    %h2.text-center.font-medium
      = t('.signup.choose_journey')
    %p.intro.text-balance
      = t('.signup.two_options')
    - if @has_discount
      #discount-bar
        .flag= flag_for_country_code(@country_code_2)
        - if @hello.present?
          %strong #{@hello}!
        = t('.signup.everyone_in', country: @country_name)
        %strong.inline= t('.signup.percent_discount', percentage: @discount_percentage)
    .grid.md:grid-cols-2.grid-cols-1.gap-40
      .container
        .header
          = image_tag "bootcamp/exercism-face-dark.svg", class: "face"
          .flex.flex-col.items-start
            .bubbles
              .bubble
                = t('.signup.only')
                %strong= t('.signup.part_1')

            %h2
              = t('.signup.learn_to')
              %strong= t('.signup.code')
            %p= t('.signup.part1_fundamentals')
          - if @has_discount
            .price
              %strong $#{@part_1_price}
              %span{ class: "text-[26px] line-through text-[#777] font-normal" } $#{@full_part_1_price}
            .discount

              = t('.signup.includes_a')
              %strong= t('.signup.percent_discount_plain', percentage: @discount_percentage)
              = t('.signup.for_friends_in')
              %span.flag= flag_for_country_code(@country_code_2)
              #{@country_name}!
          - else
            .price
              %strong $#{@full_part_1_price}
        .body
          .point
            %h4= t('.signup.whos_it_for')
            %p
              = t('.signup.part1_who_start')
              %strong= t('.signup.coding_fundamentals')
              = t('.signup.designed_for')
              %strong= t('.signup.absolute_beginners')
              = t('.signup.new_devs')

          .point
            %h4= t('.signup.duration')
            %p.mb-12= t('.signup.part1_duration')

          .point
            %h4= t('.signup.where_by_end')
            %p
              = t('.signup.part1_end_start')
              %strong= t('.signup.coding_fundamentals')
              = t('.signup.part1_end_mid')
              %strong= t('.signup.data_science')

          .point
            %h4= t('.signup.whats_included')
            %ul.list-disc
              %li= t('.signup.part1_included_1')
              %li= t('.signup.part1_included_2')
              %li= t('.signup.part1_included_3')
              %li= t('.signup.part1_included_4')
              %li= t('.signup.part1_included_5')

          = link_to t('.signup.enroll_now'), bootcamp_enroll_path(package: 'part_1'), class: "button"

      .container
        .header
          = image_tag "bootcamp/exercism-face-dark.svg", class: "face"

          .bubbles
            .bubble
              = t('.signup.the')
              %strong= t('.signup.complete_course')
          %h2
            = t('.signup.become_a')
            %strong= t('.signup.frontend_dev')
          %p= t('.signup.complete_expand')

          -# %p.mb-12{class: "!font-semibold"} One-time payment. Lifetime access. Money-back guarantee.
          - if @has_discount
            .price
              %strong $#{@complete_price}
              %span{ class: "text-[26px] line-through text-[#777] font-normal" } $#{@full_complete_price}
            .discount
              = t('.signup.includes_a')
              %strong= t('.signup.percent_discount_plain', percentage: @discount_percentage)
              = t('.signup.for_friends_in')
              %span.flag= flag_for_country_code(@country_code_2)
              #{@country_name}.
          - else
            .price
              %strong $#{@full_complete_price}
        .body
          .point
            %h4= t('.signup.whos_it_for')
            %p
              = t('.signup.complete_who_start')
              %strong= t('.signup.web_developer')
              = t('.signup.designed_for')
              %strong= t('.signup.absolute_beginners')
              = t('.signup.new_devs')

          .point
            %h4= t('.signup.duration')
            %p.mb-12= t('.signup.complete_duration')

          .point
            %h4= t('.signup.where_by_end')
            %p
              = t('.signup.complete_end_start')
              %strong= t('.signup.frontends_scratch')
              = t('.signup.complete_end_end')

          .point
            %h4= t('.signup.whats_included')
            %ul.list-disc
              %li= t('.signup.complete_included_1')
              %li= t('.signup.complete_included_2')
              %li= t('.signup.complete_included_3')
              %li= t('.signup.complete_included_4')
              %li= t('.signup.complete_included_5')

          = link_to t('.signup.enroll_now'), bootcamp_enroll_path(package: 'complete'), class: "button"

= image_tag "bootcamp/divider.png", class: 'w-[100px] mx-auto my-64'

%section#exercism
  .lg-container
    %h2= t('.exercism.what_makes_special')
    %p.intro.text-balance
      = t('.exercism.exercism_is_a')
      %strong.font-medium= t('.exercism.longstanding_nonprofit')
      = t('.exercism.thats_helped')
      %strong.font-medium.whitespace-nowrap= t('.exercism.two_million')
      = t('.exercism.level_up')
    %ul
      %li
        .emoji 🧑‍💻
        .count 2,100,000
        .title= t('.exercism.students_title')
        %p= t('.exercism.students_body')

      %li
        .emoji 👏
        .count 85,000
        .title= t('.exercism.testimonials_title')
        %p= t('.exercism.testimonials_body')

      %li
        .emoji 🧩
        .count 47,082,260
        .title= t('.exercism.exercises_title')
        %p= t('.exercism.exercises_body')

      %li
        .emoji 👯
        .count 384,906
        .title= t('.exercism.mentoring_title')
        %p= t('.exercism.mentoring_body')

= image_tag "bootcamp/divider.png", class: 'w-[100px] mx-auto my-64'

%section#faqs
  .background
  .md-container.relative
    %h2= t('.faqs.title')
    %p.intro
      = t('.faqs.intro')
      = link_to t('.faqs.ping_email'), "#"

    .faq
      %h4= t('.faqs.q_start')
      %p= t('.faqs.a_start')
    .faq
      %h4= t('.faqs.q_time')
      %p= t('.faqs.a_time')
    .faq
      %h4= t('.faqs.q_join_later')
      %p= t('.faqs.a_join_later')
    .faq
      %h4= t('.faqs.q_group')
      %p= t('.faqs.a_group')
    .faq
      %h4= t('.faqs.q_language')
      %p= t('.faqs.a_language')
    .faq
      %h4= t('.faqs.q_limit')
      %p= t('.faqs.a_limit')
    .faq
      %h4= t('.faqs.q_graded')
      %p= t('.faqs.a_graded')
    .faq
      %h4= t('.faqs.q_job_ready')
      %p= t('.faqs.a_job_ready')
    - if @has_discount
      .faq
        %h4= t('.faqs.q_discount', country: @country_name)
        %p= t('.faqs.a_discount', price: @full_complete_price, percentage: @discount_percentage, country: @country_name)
        %p= t('.faqs.a_discount_2')
    - else
      .faq
        %h4= t('.faqs.q_discounts_offered')
        %p= t('.faqs.a_discounts_offered_html', email: link_to('bootcamp@exercism.org', 'mailto:bootcamp@exercism.org', class: 'font-semibold text-[blue]')).html_safe
    .faq
      %h4= t('.faqs.q_nothing_received')
      %p= t('.faqs.a_nothing_received_html', email: link_to('bootcamp@exercism.org', 'mailto:bootcamp@exercism.org', class: 'font-semibold text-[blue]')).html_safe

%section#legals
  .md-container.text-center
    %strong Exercism
    = t('.legals.registered')
    %strong= t('.legals.not_for_profit')
    %span.whitespace-nowrap © #{Date.current.year} Exercism
