-# = render "discount_bar", has_discount: @has_discount, country_code_2: @country_code_2, country_name: @country_name, discount_percentage: @discount_percentage, hello: @hello

#nav-fixed.nav{ class: "h-[64px]" }
  #nav-contents.lg-container.flex.flex-row.gap-8.items-center
    = image_tag "bootcamp/exercism-face-light.svg", class: 'exercism-face'
    .content.mr-auto
      %strong Exercism
      %span.hidden.md:inline-block= t('.nav.bootcamps')
    = link_to t('.nav.watch_first_session'), "https://www.youtube.com/live/bOAL_EIFwhg&start=1400", class: "first-session hidden md:block", target: "_blank", rel: 'noopener'
    = link_to t('.nav.enroll_now'), course_start_enrolling_path(@course.slug), class: "button"
#nav-sticky.nav

.hero
  .md-container
    .text-center
      %h1.rock-solid
        = t('.hero.heading_prefix')
        %strong= t('.hero.heading_strong')
        = t('.hero.heading_suffix')
      .tagline{ class: "max-w-[650px]" }
        = t('.hero.tagline_prefix')
        %em= t('.hero.tagline_em')
        = t('.hero.tagline_mid')
        %strong.font-semibold= t('.hero.tagline_strong')
        %span.inline-block
          = t('.hero.tagline_go_from')
          %strong= t('.hero.tagline_zero_to_confident')
          = t('.hero.tagline_in_weeks')

    .bubbles
      .bubble
        = image_tag "bootcamp/video-tutorial.svg"
        .text
          %strong= t('.bubbles.video')
          = t('.bubbles.tutorials')
      .bubble
        = image_tag "bootcamp/fun.svg"
        .text
          %strong= t('.bubbles.fun')
          = t('.bubbles.projects')
      .bubble
        = image_tag "bootcamp/help.svg"
        .text
          = t('.bubbles.helpful')
          %strong= t('.bubbles.mentors')
        -#
          - if @has_discount
            .flag= flag_for_country_code(@country_code_2)
            .text
              %span.line-through{ class: 'text-[#666]' } $#{@course.full_price}
              Only
              %strong $#{@course_price}
          - else
            = image_tag "bootcamp/cost.svg"
            .text
              Only
              %strong $#{@course_price}

    .video-container
      .video
        <iframe src="https://player.vimeo.com/video/1068683543?h=2de237a304&amp;badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479" frameborder="0" allow="autoplay; fullscreen; picture-in-picture; clipboard-write" style="position:absolute;top:0;left:0;width:100%;height:100%;" title="bootcamp"></iframe>
        <script src="https://player.vimeo.com/api/player.js"></script>

    .supported-by
      %h3= t('.supported_by.heading')
      .logos
        = image_tag "bootcamp/google.png", class: 'google'
        = image_tag "bootcamp/chicago.svg", class: 'chicago'
        = image_tag "bootcamp/mozilla.svg", class: 'mozilla'
        = image_tag "bootcamp/packt.svg", class: 'packt'

  -# .paper-tear
  = render "scrolling_testimonials"

%section.welcome
  .md-container
    .flex.flex-col.items-center.gap-40
      .flex.flex-col.items-stretch
        %h2.mb-12
          = t('.welcome.tutorial_hell_prefix')
          %span.font-semibold.intro-aspiring-coder.rough-highlight= t('.welcome.tutorial_hell')
        %p
          %strong= t('.welcome.not_alone_strong')
          = t('.welcome.not_alone_text')
        %p
          = t('.welcome.courses_suck_prefix')
          %strong= t('.welcome.courses_suck')
          = t('.welcome.courses_suck_mid')
          %strong.rough-highlight= t('.welcome.boring_confusing')
          = t('.welcome.courses_suck_and')
          %strong= t('.welcome.not_cut_out')
        %p
          = t('.welcome.made_to_fix_prefix')
          %strong.font-regular.intro-fun-and-creative.rough-highlight= t('.welcome.fun_and_creative')
          = t('.welcome.made_to_fix_mid')
          %strong.font-medium
            %span.intro-you= t('.welcome.course_for_you')
        .flex.flex-col.items-center.mt-8.mb-12.mr-80{ class: "scale-x-[-1]" }
          = image_tag "bootcamp/arrow-1.svg", class: 'bootcamp-arrow-1'

    %h3
      = t('.story.hi_there')
      %span.waving-hand
        👋
      = t('.story.im_jeremy_prefix')
      .inline.rough-highlight= t('.story.two_million_people')
      = t('.story.level_up')
    %p
      = t('.story.worrying_trend')
    %p
      = t('.story.learning_prefix')
      %strong= t('.story.struggling_strong')
      = t('.story.struggling_mid')
      %strong= t('.story.not_grasping_fundamentals')

    %p= t('.story.crazy_statistic')
    %h3
      %span.inline.rough-highlight= t('.story.give_up_stat')
      🤯

    %p= t('.story.how_could_it_be')
    %p= t('.story.investigating')
    %p
      = t('.story.watched_prefix')
      %strong= t('.story.youtube_videos')
      = t('.story.tried_best')
      %strong= t('.story.online_courses')
      = t('.story.paid_friends')

    %p= t('.story.dug_into_research')

    %h3
      %span.inline.rough-highlight= t('.story.teaching_causes_fail')
    %p
      = t('.story.started_at_8')
      %strong= t('.story.make_stuff')

    .sm:float-right.mt-20.sm:ml-24.sm:mb-24{ class: "xl:mr-[-100px] mr-0" }
      %div{ class: 'border-white border-[8px] rounded-[5px] lg:w-[300px] sm:w-[220px] w-full', style: "box-shadow: 0 0 10px 0 rgba(0,0,0,0.5);" }
        = image_tag "bootcamp/with-rhodri.jpg", class: 'w-[100%] border-[#aaa] border-[1px] rounded-[1px]'
        .text-14.text-center.font-normal.pt-8.px-8{ class: "leading-[140%]" }
          %span.lg:hidden.inline= t('.story.caption_me_short')
          %span.lg:inline.hidden= t('.story.caption_me_rhodri')

    %p.mt-16
      = t('.story.made_stuff_prefix')
      %span.sm:hidden.inline= t('.story.eventually_customers')
      %span.sm:inline.hidden.relative
        %span#eventually-underline.rough-underline.whitespace-nowrap
          = t('.story.eventually_customers')
        %span#rhodri.arrow-animation

    %p= t('.story.created_played')
    %p
      = t('.story.got_good_prefix')
      %strong= t('.story.coder_mindset')
      = t('.story.laid_foundations')
    %p
      %strong.rough-highlight= t('.story.not_how_modern')
      = t('.story.practice_is_hard')
    %p
      = t('.story.wont_learn_prefix')
      %strong= t('.story.bored_frustrated')
      = t('.story.and_like_most')
      %strong= t('.story.probably_quit')

    %h3
      %span.rough-highlight= t('.mastery.get_good_heading')

    %p
      = t('.mastery.best_coders_prefix')
      %strong= t('.mastery.are_not')
      = t('.mastery.know_the_most')
    %p
      = t('.mastery.best_coders_are_prefix')
      %strong.rough-highlight= t('.mastery.total_mastery')
      = t('.mastery.everything_easy')
    %p
      = t('.mastery.how_to_master')
    %p
      = t('.mastery.take_challenges')
    %h3
      %span.rough-highlight= t('.mastery.which_is_why')

    %p
      = t('.different.made_different_prefix')
      %strong= t('.different.building_fun')
      = t('.different.solving_problems')
    %p
      = t('.different.within_12_prefix')
      %strong= t('.different.games_list_1')
      %strong= t('.different.games_list_2')
      = t('.different.building_bots_prefix')
      %strong= t('.different.chatgpt')
      = t('.different.real_world')

    .grid.grid-cols-4.gap-10.my-16
      = image_tag "bootcamp/space-invaders.gif", class: "w-full border-2 border-bootcamp-purple rounded-[5px]"
      = image_tag "bootcamp/tic-tac-toe.gif", class: "w-full border-2 border-bootcamp-purple rounded-[5px]"
      = image_tag "bootcamp/breakout.gif", class: "w-full border-2 border-bootcamp-purple rounded-[5px]"
      = image_tag "bootcamp/maze.gif", class: "w-full border-2 border-bootcamp-purple rounded-[5px]"

    %p= t('.different.make_all_these')

    %h3
      %span.rough-highlight= t('.different.focusing_heading')

    %p
      = t('.different.worked_hard_prefix')
      %strong= t('.different.important_stuff')
      = t('.different.written_language')
    %p
      = t('.different.made_prefix')
      %strong= t('.different.kickass_interface')
      = t('.different.fun_easy_mid')
      %strong.rough-highlight= t('.different.easy_to_learn')
      = t('.different.or_technologies')

    .mt-20.mb-20
      %div{ class: 'border-bootcamp-purple border-[8px] rounded-[5px] w-full', style: "box-shadow: 0 0 10px 0 rgba(0,0,0,0.5);" }
        = image_tag "bootcamp/editor.png", class: 'w-[100%] border-[#aaa] border-[1px] rounded-[1px]'
        .text-17.text-center.font-medium.pt-16.pb-6.px-8.bg-bootcamp-purple.text-white{ class: "leading-[140%] " }
          %span= t('.different.editor_caption')

    %h3.mt-32
      %span.rough-highlight= t('.taught.makes_sense_heading')

    %p
      = t('.taught.teach_concepts_prefix')
      %strong= t('.taught.brain_absorbs')
      = t('.taught.understands')

    .sm:float-right.sm:ml-24.sm:mb-24{ class: "xl:mr-[-100px] mr-0" }
      %div{ class: 'border-white border-[8px] rounded-[5px] lg:w-[300px] sm:w-[220px] w-full', style: "box-shadow: 0 0 10px 0 rgba(0,0,0,0.5);" }
        = image_tag "bootcamp/jiki-slide.png", class: 'w-[100%] border-[#aaa] border-[1px] rounded-[1px]'
        .text-14.text-center.font-normal.pt-8.px-8{ class: "leading-[140%]" }
          %span= t('.taught.jiki_caption_prefix')
          %strong= t('.taught.jiki_name')
          = t('.taught.jiki_caption_suffix')

    %p.mt-20
      = t('.taught.no_abstract_prefix')
      %span#jiki-underline.rough-underline.whitespace-nowrap
        = t('.taught.until_clear')
      %span.sm:inline.hidden.relative
        %span#jiki.arrow-animation

    %p
      = t('.taught.live_teaching_prefix')
      %strong= t('.taught.hours_live_teaching')
      = t('.taught.watch_explaining')
    %p
      = t('.taught.community_alumni')
    %p
      = t('.taught.designed_for_prefix')
      %strong= t('.taught.total_beginners')
      = t('.taught.entirely_focused')
      %strong= t('.taught.learning_by_doing')
      = t('.taught.coding_from_day_one')
      %strong.font-semibold.rough-highlight= t('.taught.coding_a_lot')
    %p
      = t('.taught.also_perfect_prefix')
      %strong= t('.taught.been_coding')
      = t('.taught.dont_feel_solid')
    %p
      = t('.taught.sounds_exciting_prefix')
      %strong= t('.taught.love_to_join')

%section#bootcamp
  .lg-container
    .container.syllabus
      .tag= t('.syllabus.tag')
      %h2
        = t('.syllabus.menu_prefix')
        %strong= t('.syllabus.menu_strong')
      %p.intro.mb-24.text-balance{ class: 'max-w-[820px]' }
        = t('.syllabus.split_two_halves')

      .sections
        .section.mb-32
          .flex.flex-row
            .lhs
              %h3.mb-8
                = t('.syllabus.part1_title')
                .bubble= t('.syllabus.part1_bubble')

              .part-intro.mb-20
                = t('.syllabus.part1_intro_prefix')
                %span.rough-highlight.font-medium= t('.syllabus.part1_intro_strong')
                = t('.syllabus.part1_intro_suffix')

              %ul
                %li
                  = image_tag "bootcamp/understanding.svg"
                  .text
                    %strong= t('.syllabus.part1_li1_strong')
                    = t('.syllabus.part1_li1_text')
                %li
                  = image_tag "bootcamp/confidence.svg"
                  .text
                    %strong= t('.syllabus.part1_li2_strong')
                    = t('.syllabus.part1_li2_text')
                %li
                  = image_tag "bootcamp/coders-mind.svg"
                  .text
                    %strong= t('.syllabus.part1_li3_strong')
                    = t('.syllabus.part1_li3_text')
            .rhs
              .dates.h3-sideheading.relative
                = image_tag "bootcamp/calendar.svg"
                = t('.syllabus.part1_duration')
              = image_tag "bootcamp/part-1.png", class: 'w-[350px] -mr-32 -mt-[60px]'

        .section.relative
          #part-2-arrow.arrow-animation
          .lhs
            %h3.mb-8
              = t('.syllabus.part2_title')
              .bubble= t('.syllabus.part2_bubble')
            .part-intro
              = t('.syllabus.part2_intro_prefix')
              %span.rough-highlight.font-medium= t('.syllabus.part2_intro_strong')
              = t('.syllabus.part2_intro_suffix')

            %ul
              %li
                = image_tag "bootcamp/javascript.svg"
                .text
                  %strong= t('.syllabus.part2_li1_strong')
                  = t('.syllabus.part2_li1_text')

              %li
                = image_tag "bootcamp/html.svg"
                .text
                  %strong= t('.syllabus.part2_li2_strong')
                  = t('.syllabus.part2_li2_text')

              %li
                = image_tag "bootcamp/work-locally.svg"
                .text
                  %strong= t('.syllabus.part2_li3_strong')
                  = t('.syllabus.part2_li3_text')

              %li
                = image_tag "bootcamp/portfolio.svg"
                .text
                  %strong= t('.syllabus.part2_li4_strong')
                  = t('.syllabus.part2_li4_text')
          .rhs
            .dates.h3-sideheading.z-overlay
              = image_tag "bootcamp/calendar.svg"
              = t('.syllabus.part2_duration')
            = image_tag "bootcamp/part-2.png", class: 'w-[350px] -mr-32 -mt-[60px]'

  .lg-container
    #portfolio-subsection.subcontainer.relative
      #portfolio-arrow.arrow-animation
      .flex.flex-col.mb-8{ class: 'lg:flex-row' }
        %h2.mr-auto
          = t('.levels.heading_prefix')
          %strong= t('.levels.heading_strong')
          = t('.levels.heading_suffix')
        .h3-sideheading
          = t('.levels.sideheading')
      %p.mb-8
        = t('.levels.intro')
      %p.mb-16
        %strong= t('.levels.few_things')

        .levels
          .level
            = image_tag "bootcamp/penguin.png"
            %h4
              = t('.levels.level1_prefix')
              %strong= t('.levels.level1_num')
              = t('.levels.level1_mid')
              %strong= t('.levels.level1_strong')
              = t('.levels.level1_suffix')


          .level
            = image_tag "bootcamp/flower.gif"
            %h4
              = t('.levels.level2_prefix')
              %strong= t('.levels.level2_num')
              = t('.levels.level2_mid')
              %strong= t('.levels.level2_strong')
              = t('.levels.level2_suffix')

          .level
            = image_tag "bootcamp/space-invaders.gif"
            %h4
              = t('.levels.level3_prefix')
              %strong= t('.levels.level3_num')
              = t('.levels.level3_mid')
              %strong= t('.levels.level3_strong')
              = t('.levels.level3_suffix')

          .level
            = image_tag "bootcamp/wall.gif"
            %h4
              = t('.levels.level4_prefix')
              %strong= t('.levels.level4_num')
              = t('.levels.level4_mid')
              %strong= t('.levels.level4_strong')
              = t('.levels.level4_suffix')

          .level
            = image_tag "bootcamp/wordle.png"
            %h4
              %strong= t('.levels.level5_num')
              = t('.levels.level5_mid')
              %strong= t('.levels.level5_strong')
              = t('.levels.level5_suffix')

          .level
            = image_tag "bootcamp/tic-tac-toe.gif"
            %h4
              %strong= t('.levels.level6_num')
              = t('.levels.level6_mid')
              %strong= t('.levels.level6_strong')
              = t('.levels.level6_suffix')

          .level
            = image_tag "bootcamp/maze.gif"
            %h4
              = t('.levels.level7_prefix')
              %strong= t('.levels.level7_num')
              = t('.levels.level7_mid')
              %strong= t('.levels.level7_strong')
              = t('.levels.level7_suffix')

          .level
            = image_tag "bootcamp/weather.gif"
            %h4
              = t('.levels.level8_prefix')
              %strong= t('.levels.level8_num')
              = t('.levels.level8_mid')
              %strong= t('.levels.level8_strong')

          .level
          .level
            = image_tag "bootcamp/breakout.gif"
            %h4
              %strong= t('.levels.level9_num')
              = t('.levels.level9_mid')
              %strong= t('.levels.level9_strong')
              = t('.levels.level9_suffix')

          .level
            = image_tag "bootcamp/dreaming-house.gif"
            %h4
              = t('.levels.level10_prefix')
              %strong= t('.levels.level10_num')
              = t('.levels.level10_mid')
              %strong= t('.levels.level10_strong')

  .lg-container
    .subcontainer
      #certificate-arrow.arrow-animation
      #certificate-subsection
        .flex.lg:flex-row.flex-col.items-center.gap-0

          .lhs.flex.flex-col.items-start
            .bubble= t('.certificate.bubble')
            %h3.mb-8= t('.certificate.heading')
            %p.text-16.mb-12= t('.certificate.text1')
            %p.text-16= t('.certificate.text2')

          = image_tag "bootcamp/certificate-arrow.png", class: 'w-[100px] self-middle mt-[100px] mb-10 mr-40 my-10 lg:block hidden'
          .certificate.flex-shrink-0.mt-24.lg:mt-0
            = image_tag "bootcamp/certificate.png", class: 'lg:w-[350px] w-100 rounded-[5px]', style: 'box-shadow: 0 0 20px rgba(0,0,0,0.4)'
        .linkedin
          = image_tag "bootcamp/linkedin.png"
          %span= t('.certificate.linkedin')

= render "testimonials", quotes: @quotes

%section#signup-section
  .lhs-bg
  .rhs-bg
  .lg-container
    %h2.text-center.font-normal
      = t('.signup.choose_your_prefix')
      %strong.font-semibold= t('.signup.choose_your_path')
    %p.intro.text-balance
      = t('.signup.intro_prefix')
      %strong.font-medium= t('.signup.two_options')
    - if @has_discount
      #discount-bar
        .flag= flag_for_country_code(@country_code_2)
        - if @hello.present?
          %strong #{@hello}!
        = t('.signup.everyone_in', country_name: @country_name)
        %strong.inline= t('.signup.discount_percent', discount_percentage: @discount_percentage)

    - elsif @using_vpn
      #vpn-bar
        %span.inline-block
          = t('.signup.vpn_many_countries_prefix')
          %strong= t('.signup.vpn_discounts')
          = t('.signup.vpn_more_affordable')
          %strong= t('.signup.vpn_globally')
        = t('.signup.vpn_please')
        %strong= t('.signup.vpn_disable')
        = t('.signup.vpn_refresh')

    .grid.md:grid-cols-2.grid-cols-1.gap-40
      .container
        .header
          = image_tag "bootcamp/exercism-face-dark.svg", class: "face"
          .flex.flex-col.items-start
            .bubbles
              .bubble
                = t('.signup.course_bubble_prefix')
                %strong= t('.signup.course_bubble_strong')

            %h2
              = t('.signup.course_title_prefix')
              %strong= t('.signup.course_title_strong')
            %p= t('.signup.course_subtitle')
          - if @has_discount
            .price
              %strong $#{@course_price}
              %span{ class: "text-[26px] line-through text-[#777] font-normal" } $#{@course.full_price}
            .discount

              = t('.signup.includes_discount_prefix')
              %strong= t('.signup.discount_percent_included', discount_percentage: @discount_percentage)
              = t('.signup.friends_in')
              %span.flag= flag_for_country_code(@country_code_2)
              = "#{@country_name}!"
          - else
            .price
              %strong $#{@course.full_price}
        .body
          .point
            %h4= t('.signup.course_whos_it_for_heading')
            %p
              = t('.signup.course_whos_it_for_prefix')
              %strong= t('.signup.course_whos_it_for_strong1')
              = t('.signup.course_whos_it_for_mid')
              %strong= t('.signup.course_whos_it_for_strong2')
              = t('.signup.course_whos_it_for_suffix')

          .point
            %h4= t('.signup.course_duration_heading')
            %p.mb-12= t('.signup.course_duration_text')

          .point
            %h4= t('.signup.course_end_heading')
            %p
              = t('.signup.course_end_prefix')
              %strong= t('.signup.course_end_strong1')
              = t('.signup.course_end_mid')
              %strong= t('.signup.course_end_strong2')
              = t('.signup.course_end_suffix')

          .point
            %h4= t('.signup.course_included_heading')
            %ul.list-disc
              %li= t('.signup.course_included_1')
              %li= t('.signup.course_included_2')
              %li= t('.signup.course_included_3')
              %li= t('.signup.course_included_4')
              %li= t('.signup.course_included_5')

          = link_to t('.signup.course_button'), course_start_enrolling_path(@course.slug, course_or_bundle: "course"), class: "button"

      .container
        .header
          = image_tag "bootcamp/exercism-face-dark.svg", class: "face"

          .bubbles
            .bubble
              = t('.signup.bundle_bubble_prefix')
              %strong= t('.signup.bundle_bubble_strong')
          %h2
            = t('.signup.bundle_title_prefix')
            %strong= t('.signup.bundle_title_strong')
          %p= t('.signup.bundle_subtitle')

          -# %p.mb-12{class: "!font-semibold"} One-time payment. Lifetime access. Money-back guarantee.
          - if @has_discount
            .price
              %strong $#{@bundle_price}
              %span{ class: "text-[26px] line-through text-[#777] font-normal" } $#{@bundle.full_price}
            .discount
              = t('.signup.includes_discount_prefix')
              %strong= t('.signup.discount_percent_included', discount_percentage: @discount_percentage)
              = t('.signup.friends_in')
              %span.flag= flag_for_country_code(@country_code_2)
              = "#{@country_name}."
          - else
            .price
              %strong $#{@bundle.full_price}
        .body
          .point
            %h4= t('.signup.bundle_whos_it_for_heading')
            %p
              = t('.signup.bundle_whos_it_for_prefix')
              %strong= t('.signup.bundle_whos_it_for_strong1')
              = t('.signup.bundle_whos_it_for_mid')
              %strong= t('.signup.bundle_whos_it_for_strong2')
              = t('.signup.bundle_whos_it_for_suffix')

          .point
            %h4= t('.signup.bundle_duration_heading')
            %p.mb-12= t('.signup.bundle_duration_text')

          .point
            %h4= t('.signup.bundle_end_heading')
            %p
              = t('.signup.bundle_end_prefix')
              %strong= t('.signup.bundle_end_strong')
              = t('.signup.bundle_end_suffix')

          .point
            %h4= t('.signup.bundle_included_heading')
            %ul.list-disc
              %li= t('.signup.bundle_included_1')
              %li= t('.signup.bundle_included_2')
              %li= t('.signup.bundle_included_3')
              %li= t('.signup.bundle_included_4')
              %li= t('.signup.bundle_included_5')

          = link_to t('.signup.bundle_button'), course_start_enrolling_path(@course.slug, course_or_bundle: "bundle"), class: "button"

= image_tag "bootcamp/divider.png", class: 'w-[100px] mx-auto my-64'

%section#exercism
  .lg-container
    %h2= t('.exercism.heading')
    %p.intro.text-balance
      = t('.exercism.intro_prefix')
      %strong.font-medium= t('.exercism.nonprofit')
      = t('.exercism.helped_over')
      %strong.font-medium.whitespace-nowrap= t('.exercism.two_million')
      = t('.exercism.level_up')
    %ul
      %li
        .emoji 🧑‍💻
        .count 2,100,000
        .title= t('.exercism.students_title')
        %p= t('.exercism.students_text')

      %li
        .emoji 👏
        .count 85,000
        .title= t('.exercism.testimonials_title')
        %p= t('.exercism.testimonials_text')

      %li
        .emoji 🧩
        .count 47,082,260
        .title= t('.exercism.exercises_title')
        %p= t('.exercism.exercises_text')

      %li
        .emoji 👯
        .count 384,906
        .title= t('.exercism.mentoring_title')
        %p= t('.exercism.mentoring_text')

= image_tag "bootcamp/divider.png", class: 'w-[100px] mx-auto my-64'

%section#faqs
  .background
  .md-container.relative
    %h2= t('.faqs.heading')
    %p.intro
      = t('.faqs.intro')
      = link_to t('.faqs.ping_email'), "mailto:bootcamp@exercism.org"

    .faq
      %h4= t('.faqs.q_access')
      %p= t('.faqs.a_access_1')
      %p= t('.faqs.a_access_2')

    .faq
      %h4= t('.faqs.q_time')
      %p= t('.faqs.a_time')

    .faq
      %h4= t('.faqs.q_hard')
      %p= t('.faqs.a_hard_1')
      %p= t('.faqs.a_hard_2')

    .faq
      %h4= t('.faqs.q_group')
      %p
        = t('.faqs.a_group')

    .faq
      %h4= t('.faqs.q_language')
      %p
        = t('.faqs.a_language_1')
      %p
        = t('.faqs.a_language_2')

    .faq
      %h4= t('.faqs.q_graded')
      %p= t('.faqs.a_graded')

    .faq
      %h4= t('.faqs.q_nothing')
      %p= t('.faqs.a_nothing_html', email: link_to('bootcamp@exercism.org', 'mailto:bootcamp@exercism.org', class: 'font-semibold text-[blue]')).html_safe

%section#legals
  .md-container.text-center
    %strong Exercism
    = t('.legals.registered')
    %strong= t('.legals.nonprofit')
    %span.whitespace-nowrap © #{Date.current.year} Exercism
