= render "discount_bar", has_discount: @has_discount, country_code_2: @country_code_2, country_name: @country_name, discount_percentage: @discount_percentage, hello: @hello

-# #countdown-bar
-#   %span.inline-block
-#     %strong First live session
-#     in
-#     #js-countdown-time.inline>= " #{@days} days, #{@hours} hours, #{@minutes} minutes"
-#     #js-countdown-seconds{ class: "hidden md:inline" }> , #{@seconds} seconds
-#     \.
-#   %strong.inline-block Don't miss out!

#nav-fixed.nav{ class: "h-[64px]" }
  #nav-contents.lg-container.flex.flex-row.gap-8.items-center
    = image_tag "bootcamp/exercism-face-light.svg", class: 'exercism-face'
    .content
      %strong.font-semibold Exercism
      = t('.nav.bootcamps')
    = link_to t('.nav.enroll_now'), course_start_enrolling_path(@course.slug), class: "button !ml-auto"
#nav-sticky.nav

.hero
  .md-container
    .text-center
      %h1.rock-solid
        = t('.hero.title_learn')
        %strong= t('.hero.title_front_end')
        = t('.hero.title_fundamentals')
      .tagline{ class: "max-w-[570px]" }
        = t('.hero.tagline_learn_how')
        %strong= t('.hero.tagline_websites')
        = t('.hero.tagline_with')
        %strong= t('.hero.tagline_live_teaching')
        = t('.hero.tagline_and_hours')
        %strong= t('.hero.tagline_fun_projects')

    .bubbles
      .bubble
        = image_tag "bootcamp/wave.svg"
        .text
          %strong= t('.bubbles.live')
          = t('.bubbles.teaching')
      .bubble
        = image_tag "bootcamp/fun.svg"
        .text
          %strong= t('.bubbles.fun')
          = t('.bubbles.projects')
      .bubble
        = image_tag "bootcamp/help.svg"
        .text
          = t('.bubbles.helpful')
          %strong= t('.bubbles.mentors')

    .video-container
      .video
        <iframe src="https://player.vimeo.com/video/1068682610?h=578b751ae3&amp;badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479" frameborder="0" allow="autoplay; fullscreen; picture-in-picture; clipboard-write" style="position:absolute;top:0;left:0;width:100%;height:100%;" title="bootcamp"></iframe>
        <script src="https://player.vimeo.com/api/player.js"></script>

    .supported-by
      %h3= t('.supported_by.heading')
      .logos
        = image_tag "bootcamp/google.png", class: 'h-[42px] mt-[3px]'
        = image_tag "bootcamp/chicago.svg", class: 'h-[38px]'
        = image_tag "bootcamp/mozilla.svg", class: 'h-[38px] mt-[-7px]'
        = image_tag "bootcamp/packt.svg", class: 'h-[38px] mt-[2px]'

  = render "scrolling_testimonials"

%section.welcome
  .md-container
    .flex.flex-col.items-center.gap-40
      .flex.flex-col.items-stretch
    %h2{ class: "!mb-20" }
      = t('.welcome.hi_there')
      %span.waving-hand
        👋
      = t('.welcome.im_jeremy')
      .inline.rough-highlight= t('.welcome.two_million_people')
      = t('.welcome.level_up')

    .sm:float-right.sm:ml-24.sm:mb-24{ class: "xl:mr-[-100px] mr-0" }
      %div{ class: 'border-white border-[8px] rounded-[5px] lg:w-[300px] sm:w-[220px] w-full', style: "box-shadow: 0 0 10px 0 rgba(0,0,0,0.5);" }
        = image_tag "bootcamp/with-rhodri.jpg", class: 'w-[100%] border-[#aaa] border-[1px] rounded-[1px]'
        .text-14.text-center.font-normal.pt-8.px-8{ class: "leading-[140%]" }
          %span.lg:hidden.inline= t('.welcome.photo_caption_short')
          %span.lg:inline.hidden= t('.welcome.photo_caption_long')

    %p.mt-16.md:mt-0
      = t('.welcome.para_first_lines')
    %p
      = t('.welcome.para_competitive_prefix')
      %strong= t('.welcome.para_competitive_strong')
      = t('.welcome.para_competitive_suffix')
    %p
      = t('.welcome.para_standout_prefix')
      %strong= t('.welcome.para_standout_strong')
      = t('.welcome.para_standout_suffix')

    %h3
      %span.inline.rough-highlight= t('.welcome.mindset_heading')

    %p
      = t('.welcome.para_thrive_prefix')
      %strong= t('.welcome.para_thrive_coder_mindset')
      = t('.welcome.para_thrive_great_at')
      %strong= t('.welcome.para_thrive_critical_thinking')
      = t('.welcome.para_thrive_great_at2')
      %strong= t('.welcome.para_thrive_problem_solving')
    %p
      = t('.welcome.para_think_prefix')
      %strong= t('.welcome.para_think_practice')
      = t('.welcome.para_think_with_right')
      %strong= t('.welcome.para_think_guidance')

    %h3
      %span.inline.rough-highlight= t('.welcome.what_course_heading')
    %p
      = t('.welcome.para_new_type_prefix')
      %strong= t('.welcome.para_new_type_building')
      = t('.welcome.para_new_type_games_prefix')
      %strong= t('.welcome.para_new_type_games_strong')
      %strong= t('.welcome.para_new_type_breakout')
      = t('.welcome.para_new_type_bots_prefix')
      %strong= t('.welcome.para_new_type_chatgpt')
      = t('.welcome.para_new_type_suffix')

    .grid.grid-cols-4.gap-10.my-16
      = image_tag "bootcamp/space-invaders.gif", class: "w-full border-2 border-bootcamp-purple rounded-[5px]"
      = image_tag "bootcamp/tic-tac-toe.gif", class: "w-full border-2 border-bootcamp-purple rounded-[5px]"
      = image_tag "bootcamp/breakout.gif", class: "w-full border-2 border-bootcamp-purple rounded-[5px]"
      = image_tag "bootcamp/maze.gif", class: "w-full border-2 border-bootcamp-purple rounded-[5px]"

    %p= t('.welcome.make_all_these')

    %h3
      %span.inline.rough-highlight= t('.welcome.bootcamp_style_heading')
    %p
      = t('.welcome.para_once_prefix')
      %strong= t('.welcome.para_once_interactive')
      = t('.welcome.para_once_where')
      %strong= t('.welcome.para_once_guide')
      = t('.welcome.para_once_suffix')
    %p
      = t('.welcome.para_three_months_prefix')
      %strong= t('.welcome.para_three_months_strong')
    %p
      = t('.welcome.para_mentors')
    %p
      = t('.welcome.para_exciting_prefix')
      %strong= t('.welcome.para_exciting_strong')

%section#bootcamp
  .lg-container
    .container.syllabus
      .tag= t('.syllabus.tag')
      %h2
        = t('.syllabus.menu_prefix')
        %strong= t('.syllabus.menu_strong')
      %p.intro.mb-24.text-balance{ class: 'max-w-[750px]' }
        = t('.syllabus.intro_prefix')
        %strong= t('.syllabus.intro_strong')

      .sections
        .section.relative
          #part-2-arrow.arrow-animation
          .lhs
            %h3.mb-8
              = t('.syllabus.part_heading')
            .part-intro
              = t('.syllabus.part_intro_prefix')
              %strong= t('.syllabus.part_intro_strong')
              = t('.syllabus.part_intro_suffix')

            %ul
              %li
                = image_tag "bootcamp/javascript.svg"
                .text
                  %strong= t('.syllabus.js_strong')
                  = t('.syllabus.js_text')

              %li
                = image_tag "bootcamp/html.svg"
                .text
                  %strong= t('.syllabus.html_strong')
                  = t('.syllabus.html_text')

              %li
                = image_tag "bootcamp/work-locally.svg"
                .text
                  %strong= t('.syllabus.vscode_strong')
                  = t('.syllabus.vscode_text')

              %li
                = image_tag "bootcamp/portfolio.svg"
                .text
                  %strong= t('.syllabus.portfolio_strong')
                  = t('.syllabus.portfolio_text')
          .rhs
            .dates.h3-sideheading.z-overlay
              = image_tag "bootcamp/calendar.svg"
              = t('.syllabus.dates')
            = image_tag "bootcamp/part-2.png", class: 'w-[350px] -mr-32 -mt-[60px]'

  .lg-container
    #schedule-subsection.subcontainer.relative
      #schedule-arrow.arrow-animation
      .flex.flex-col.mb-8{ class: 'lg:flex-row' }
        %h3.mr-auto
          = t('.schedule.heading')
        .h3-sideheading.flex.mt-8.flex-wrap
          .flex.items-center.gap-8
            = image_tag "bootcamp/teacher.svg"
            .mr-20.whitespace-nowrap= t('.schedule.hours_teaching')
          .flex.items-center.gap-8
            = image_tag "bootcamp/study.svg"
            .mr-20.whitespace-nowrap= t('.schedule.hours_project')
      %p.mb-12
        = t('.schedule.intro')

      %ul
        %li
          = image_tag "bootcamp/teacher-illustration.svg"
          %h4= t('.schedule.teaching_title')
          %p
            = t('.schedule.teaching_text')
        %li
          = image_tag "bootcamp/coding-illustration.svg"
          .text
            %h4= t('.schedule.coding_title')
            %p
              = t('.schedule.coding_text')
        %li
          = image_tag "bootcamp/unstuck-illustration.svg"
          .text
            %h4= t('.schedule.labs_title')
            %p
              = t('.schedule.labs_text')
        %li
          = image_tag "bootcamp/discussion-illustration.svg", class: "scale-x-[-1]"
          .text
            %h4= t('.schedule.discuss_title')
            %p
              = t('.schedule.discuss_text')

  .lg-container
    #portfolio-subsection.subcontainer.relative
      #portfolio-arrow.arrow-animation
      .flex.flex-col.mb-8{ class: 'lg:flex-row' }
        %h3.mr-auto
          = t('.portfolio.heading')
        .h3-sideheading
          = t('.portfolio.sideheading')
      %p.mb-16
        = t('.portfolio.intro')
      .projects
        .project.snake
          .img
          .title
            = t('.portfolio.snake_prefix')
            %strong= t('.portfolio.snake_strong')
            = t('.portfolio.snake_suffix')
        .project.tetris
          .img
          .title
            = t('.portfolio.tetris_prefix')
            %strong= t('.portfolio.tetris_strong')
            = t('.portfolio.tetris_suffix')
        .project.breakout
          .img
          .title
            = t('.portfolio.breakout_prefix')
            %strong= t('.portfolio.breakout_strong')
        .project.tic-tac-toe
          .img
          .title
            = t('.portfolio.ttt_prefix')
            %strong= t('.portfolio.ttt_strong')
        .project.weather
          .img
          .title
            = t('.portfolio.weather_prefix')
            %strong= t('.portfolio.weather_strong')
        .project.story
          .img
          .title
            = t('.portfolio.story_prefix')
            %strong= t('.portfolio.story_strong')
        .project.positive
          .img
          .title
            = t('.portfolio.positive_prefix')
            %strong= t('.portfolio.positive_strong')
            = t('.portfolio.positive_suffix')
        .project.piano
          .img
          .title
            = t('.portfolio.piano_prefix')
            %strong= t('.portfolio.piano_strong')
            = t('.portfolio.piano_suffix')

  .lg-container
    .subcontainer
      #certificate-arrow.arrow-animation
      #certificate-subsection
        .flex.lg:flex-row.flex-col.items-center.gap-0

          .lhs.flex.flex-col.items-start
            .bubble= t('.certificate.bubble')
            %h3.mb-8= t('.certificate.heading')
            %p.text-16.mb-12= t('.certificate.para1')
            %p.text-16= t('.certificate.para2')

          = image_tag "bootcamp/certificate-arrow.png", class: 'w-[100px] self-middle mt-[100px] mb-10 mr-40 my-10 lg:block hidden'
          .certificate.flex-shrink-0.mt-24.lg:mt-0
            = image_tag "bootcamp/certificate.png", class: 'lg:w-[350px] w-100 rounded-[5px]', style: 'box-shadow: 0 0 20px rgba(0,0,0,0.4)'
        .linkedin
          = image_tag "bootcamp/linkedin.png"
          %span= t('.certificate.linkedin')

= render "testimonials", quotes: @quotes

%section#signup-section
  .lhs-bg
  .rhs-bg
  .lg-container
    %h2.text-center.font-normal
      = t('.signup.choose_prefix')
      %strong.font-semibold= t('.signup.choose_path')
    %p.intro
      = t('.signup.intro')
    - if @has_discount
      #discount-bar
        .flag= flag_for_country_code(@country_code_2)
        - if @hello.present?
          %strong #{@hello}!
        = t('.signup.discount_everyone', country_name: @country_name)
        %strong.inline= t('.signup.discount_percent', percentage: @discount_percentage)

    - elsif @using_vpn
      #vpn-bar
        %span.inline-block
          = t('.signup.vpn_prefix')
          %strong= t('.signup.vpn_discounts')
          = t('.signup.vpn_affordable')
          %strong= t('.signup.vpn_globally')
        = t('.signup.vpn_please')
        %strong= t('.signup.vpn_disable')
        = t('.signup.vpn_refresh')
    .grid.md:grid-cols-2.grid-cols-1.gap-40
      .container
        .header
          = image_tag "bootcamp/exercism-face-dark.svg", class: "face"

          .bubbles
            .bubble
              = t('.course_card.bubble_prefix')
              %strong= t('.course_card.bubble_strong')
          %h2
            = t('.course_card.title_prefix')
            %strong= t('.course_card.title_strong')
          %p= t('.course_card.subtitle')

          - if @has_discount
            .price
              %strong $#{@course_price}
              %span{ class: "text-[26px] line-through text-[#777] font-normal" } $#{@course.full_price}
            .discount
              = t('.course_card.discount_includes')
              %strong= t('.course_card.discount_percent', percentage: @discount_percentage)
              = t('.course_card.discount_for')
              %strong.font-semibold= t('.course_card.discount_friends')
              %span.flag= flag_for_country_code(@country_code_2)
              %strong.font-semibold #{@country_name}.
          - else
            .price
              %strong $#{@course_price}
        .body
          .point
            %h4= t('.course_card.who_title')
            %p
              = t('.course_card.who_prefix')
              %strong= t('.course_card.who_strong')
              = t('.course_card.who_suffix')

          .point
            %h4= t('.course_card.duration_title')
            %p.mb-12= t('.course_card.duration_text')

          .point
            %h4= t('.course_card.end_title')
            %p
              = t('.course_card.end_prefix')
              %strong= t('.course_card.end_strong')
              = t('.course_card.end_suffix')

          .point
            %h4= t('.course_card.included_title')
            %ul.list-disc
              %li
                = t('.course_card.inc_teaching_prefix')
                %strong= t('.course_card.inc_teaching_strong')
                = t('.course_card.inc_teaching_suffix')
              %li
                %strong= t('.course_card.inc_weekly_strong')
                = t('.course_card.inc_weekly_suffix')
              %li
                %strong= t('.course_card.inc_hundreds_strong')
                = t('.course_card.inc_hundreds_suffix')
              %li
                = t('.course_card.inc_discord_prefix')
                %strong= t('.course_card.inc_discord_strong')
                = t('.course_card.inc_discord_suffix')
              %li
                = t('.course_card.inc_cert_prefix')
                %strong= t('.course_card.inc_cert_strong')
                = t('.course_card.inc_cert_suffix')

          = link_to t('.course_card.button'), course_start_enrolling_path(@course.slug, course_or_bundle: "course"), class: "button"

      .container
        .header
          = image_tag "bootcamp/exercism-face-dark.svg", class: "face"
          .flex.flex-col.items-start
            .bubbles
              .bubble
                = t('.bundle_card.bubble_prefix')
                %strong= t('.bundle_card.bubble_strong')

            %h2
              = t('.bundle_card.title_learn')
              %strong= t('.bundle_card.title_code')
              +
              %strong= t('.bundle_card.title_frontend')
            %p= t('.bundle_card.subtitle')
          - if @has_discount
            .price
              %strong $#{@bundle_price}
              %span{ class: "text-[26px] line-through text-[#777] font-normal" } $#{@bundle.full_price}
            .discount

              = t('.bundle_card.discount_includes')
              %strong= t('.bundle_card.discount_percent', percentage: @discount_percentage)
              = t('.bundle_card.discount_for')
              %strong.font-semibold= t('.bundle_card.discount_friends')
              %span.flag= flag_for_country_code(@country_code_2)
              %strong.font-semibold #{@country_name}!
          - else
            .price
              %strong $#{@bundle_price}
        .body
          .point
            %h4= t('.bundle_card.who_title')
            %p
              = t('.bundle_card.who_prefix')
              %strong= t('.bundle_card.who_coding')
              = t('.bundle_card.who_and')
              %strong= t('.bundle_card.who_webdev')
              = t('.bundle_card.who_designed_for')
              %strong= t('.bundle_card.who_beginners')
              = t('.bundle_card.who_suffix')

          .point
            %h4= t('.bundle_card.duration_title')
            %p.mb-12= t('.bundle_card.duration_text')

          .point
            %h4= t('.bundle_card.end_title')
            %p
              = t('.bundle_card.end_prefix')
              %strong= t('.bundle_card.end_coding')
              = t('.bundle_card.end_confident')
              %strong= t('.bundle_card.end_beautiful')
              = t('.bundle_card.end_suffix')

          .point
            %h4= t('.bundle_card.included_title')
            %ul.list-disc
              %li
                = t('.bundle_card.inc_everything_prefix')
                %strong= t('.bundle_card.inc_everything_strong')
              %li
                = t('.bundle_card.inc_videos_prefix')
                %strong= t('.bundle_card.inc_videos_strong')
                = t('.bundle_card.inc_videos_suffix')
              %li
                = t('.bundle_card.inc_hundreds_prefix')
                %strong= t('.bundle_card.inc_hundreds_strong')
              %li
                = t('.bundle_card.inc_interface_prefix')
                %strong= t('.bundle_card.inc_interface_strong')
                = t('.bundle_card.inc_interface_suffix')
              %li
                = t('.bundle_card.inc_cert_prefix')
                %strong= t('.bundle_card.inc_cert_strong')
                = t('.bundle_card.inc_cert_suffix')

          = link_to t('.bundle_card.button'), course_start_enrolling_path(@course.slug, course_or_bundle: "bundle"), class: "button"

= image_tag "bootcamp/divider.png", class: 'w-[100px] mx-auto my-64'

%section#exercism
  .lg-container
    %h2= t('.exercism.heading')
    %p.intro.text-balance
      = t('.exercism.intro_prefix')
      %strong.font-medium= t('.exercism.intro_nonprofit')
      = t('.exercism.intro_helped')
      %strong.font-medium.whitespace-nowrap= t('.exercism.intro_people')
      = t('.exercism.intro_suffix')
    %ul
      %li
        .emoji 🧑‍💻
        .count 2,100,000
        .title= t('.exercism.students_title')
        %p= t('.exercism.students_text')

      %li
        .emoji 👏
        .count 85,000
        .title= t('.exercism.testimonials_title')
        %p= t('.exercism.testimonials_text')

      %li
        .emoji 🧩
        .count 47,082,260
        .title= t('.exercism.exercises_title')
        %p= t('.exercism.exercises_text')

      %li
        .emoji 👯
        .count 384,906
        .title= t('.exercism.mentoring_title')
        %p= t('.exercism.mentoring_text')

= image_tag "bootcamp/divider.png", class: 'w-[100px] mx-auto my-64'

%section#faqs
  .background
  .md-container.relative
    %h2= t('.faqs.heading')
    %p.intro
      = t('.faqs.intro')
      = link_to t('.faqs.intro_email_link'), "mailto:bootcamp@exercism.org"

    .faq
      %h4= t('.faqs.start_q')
      %p
        = t('.faqs.start_a')
    .faq
      %h4= t('.faqs.time_q')
      %p= t('.faqs.time_a')
    .faq
      %h4= t('.faqs.missed_q')
      %p= t('.faqs.missed_a')
    .faq
      %h4= t('.faqs.group_q')
      %p
        = t('.faqs.group_a')
    .faq
      %h4= t('.faqs.languages_q')
      %p
        = t('.faqs.languages_a')
    .faq
      %h4= t('.faqs.limit_q')
      %p= t('.faqs.limit_a')
    .faq
      %h4= t('.faqs.graded_q')
      %p= t('.faqs.graded_a')
    - if @has_discount
      .faq
        %h4= t('.faqs.discount_q', country_name: @country_name)
        %p= t('.faqs.discount_a', full_price: @full_price, discount_percentage: @discount_percentage, country_name: @country_name)
        %p= t('.faqs.discount_a2')
    - else
      .faq
        %h4= t('.faqs.no_discount_q')
        %p= raw t('.faqs.no_discount_a_html', email: link_to('bootcamp@exercism.org', 'mailto:bootcamp@exercism.org', class: 'font-semibold text-[blue]'))
    .faq
      %h4= t('.faqs.signed_up_q')
      %p= raw t('.faqs.signed_up_a_html', email: link_to('bootcamp@exercism.org', 'mailto:bootcamp@exercism.org', class: 'font-semibold text-[blue]'))

%section#legals
  .md-container.text-center
    %strong Exercism
    = t('.legals.is_registered')
    %strong= t('.legals.nonprofit')
    %span.whitespace-nowrap © #{Date.current.year} Exercism

-# :javascript
-#   const targetDate = new Date(Date.UTC(2025,3,26,12,0,0)).getTime();
-#   const timeElem = document.getElementById("js-countdown-time")
-#   const secondsElem = document.getElementById("js-countdown-seconds")

-#   function updateCountdown() {
-#     const now = new Date().getTime();
-#     const distance = targetDate - now;

-#     if (distance < 0) {
-#       timeElem.innerText = "Countdown Finished!";
-#       secondsElem.style.display = "none"
-#       return;
-#     }

-#     // Calculate time components
-#     const days = Math.floor(distance / (1000 * 60 * 60 * 24));
-#     const hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
-#     const minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
-#     const seconds = Math.floor((distance % (1000 * 60)) / 1000);

-#     // Display the countdown
-#     timeElem.innerText = ` ${days} days, ${hours} hours, ${minutes} minutes`;
-#     secondsElem.innerText = `, ${seconds} seconds`
-#   }

-#   // Update the countdown every second
-#   setInterval(updateCountdown, 1000);

-#   // Initialize the countdown
-#   updateCountdown();
