- week = (([Time.zone.today, Date.new(2024, 12, 15)].min - Date.new(2024, 1, 15)) / 7).ceil
- live_exercises = @exercises.select { |e| e.week <= week }
- tracks = Track.where(slug: live_exercises.flat_map(&:featured_tracks)).pluck(:slug, :title).to_h

- featured_exercise = live_exercises.last
- if featured_exercise
  - generic_exercise = GenericExercise.for(featured_exercise.slug)
  - featured_tracks = featured_exercise.featured_tracks.filter_map { |slug| tracks[slug] ? [slug, tracks[slug]] : nil }.sort
- num_placeholders = @exercises.size - live_exercises.size

#challenge-48in24-page
  %section.top-section
    .lg-container
      .flex.xl:flex-row.flex-col.xl:items-start.items-center
        .xl:mr-auto{ class: 'max-w-[860px]' }
          .font-semibold.leading-150.flex.items-center.mb-4{ style: 'color: var(--colorPurpleToBrightPurple)' }
            %span.emoji.mr-6 📆
            - if featured_exercise
              = t('.week_of', week: week)
            - else
              = t('.begins')

          - if featured_exercise
            %h1.text-h1.mb-8= t('.featuring_title', title: featured_exercise.title)
            %p.text-p-xlarge.mb-12
              = t('.exploring_html', week: week, link: link_to(featured_exercise.title, generic_exercise_path(featured_exercise.slug), class: 'underline')).html_safe
            %p.text-p-large.mb-12= featured_exercise.learning_opportunity

            %p.text-p-large.mb-12
              = t('.your_task', blurb: generic_exercise.blurb)
            %p.text-p-large.mb-12
              = t('.featuring_languages_html', languages: featured_tracks.map { |slug, title| link_to(title, track_exercise_path(slug, featured_exercise.slug), class: 'underline') }.to_sentence.html_safe).html_safe

            - if generic_exercise.deep_dive_youtube_id
              .shadow-baseZ1.grid.md:grid-cols-2.grid-cols-1.gap-20.py-20.px-20.rounded-8.bg-backgroundColorB
                .flex-shrink
                  %h2.text-h4.mb-4= t('.deep_dive_heading')
                  %p.text-p-base.mb-8= generic_exercise.deep_dive_blurb
                  %p.text-p-base
                    = t('.enjoy_watching')

                .rhs
                  %div{ class: 'w-[100%] md:max-w-[500px]' }
                    = render ReactComponents::Common::YoutubePlayer.new(generic_exercise.deep_dive_youtube_id, 'challenge#show')

            %h2.text-h3.mt-32.mb-6= t('.learn_from_others')
            %p.text-p-large.mb-12.c-highlight-links
              = t('.stream_intro')
              = t('.subscribe_to_our')
              = link_to t('.twitch_channel'), 'https://twitch.tv/exercismlive', class: 'underline'
              = t('.and')
              = link_to t('.youtube_channel'), 'https://www.youtube.com/exercism_videos?sub_confirmation=1', class: 'underline'
              = t('.to_not_miss_out')
              = t('.schedule_note')

            %p.text-p-large
              = t('.join_conversation_html', forum_link: link_to('#48in24 tag on our forums', 'https://forum.exercism.org/c/exercism/48in24', class: 'underline'), discord_link: link_to(t('.discord_server'), 'https://exercism.org/r/discord', class: 'underline')).html_safe
              %strong.font-semibold #48in24
              = t('.hashtag_note')
          - else
            %h1.text-h1.mb-8= t('.starts_title')
            %p.text-p-xlarge.mb-20
              = t('.every_tuesday')
            %p.text-p-xlarge.mb-20
              = t('.email_you')

            %h2.text-h3.mt-32.mb-4= t('.subscribe_heading')
            %p.text-p-large.mb-12.c-highlight-links
              = t('.stream_intro')
              = t('.subscribe_to_our')
              = link_to t('.twitch_channel'), 'https://twitch.tv/exercismlive', class: 'underline'
              = t('.and')
              = link_to t('.youtube_channel'), 'https://www.youtube.com/exercism_videos?sub_confirmation=1', class: 'underline'
              = t('.to_not_miss_out')
              = t('.schedule_note')

            %p.text-p-large
              = t('.join_conversation_html', forum_link: link_to('#48in24 tag on our forums', 'https://forum.exercism.org/tag/48in24', class: 'underline'), discord_link: link_to(t('.discord_server'), 'https://exercism.org/r/discord', class: 'underline')).html_safe
              %strong.font-semibold #48in24
              = t('.hashtag_note')

          %h2.text-h3.mt-32.mb-6= t('.badges_heading')
          %p.text-p-large.xl:mb-12.mb-24.c-highlight-links
            = t('.badges_intro')


        .xl:ml-80{ class: 'xl:max-w-[450px] max-w-[860px]' }
          .bg-backgroundColorD.rounded-8.py-16.px-24.border-1.border-borderColor7
            .text-h4.mb-4= t('.how_does_it_work')
            %p.xl:text-p-base.text-p-large.mb-12= t('.each_week')
            %ul.xl:text-p-base.text-p-large.mb-12
              %li
                %strong{ class: "!text-textColor1" }= t('.bronze_label')
                = t('.bronze_desc')
              %li
                %strong{ class: "!text-textColor1" }= t('.silver_label')
                = t('.silver_desc')
              %li
                %strong{ class: "!text-textColor1" }= t('.gold_label')
                = t('.gold_desc')

            %p.text-p-base.mb-12= t('.watch_video')
            = render ReactComponents::Common::YoutubePlayer.new('v6fMaOdUxSk', "challenge#show")

            %p.text-p-small.text-center.mt-20.bg-backgroundColorA.rounded-8.py-8.px-12.font-medium
              = t('.track_progress_note')

          - if featured_exercise
            .bg-backgroundColorD.rounded-8.py-16.px-24.border-1.border-borderColor7.mt-24
              %h2.text-h4.mb-4= t('.donate_heading')
              %p.xl:text-p-base.text-p-large.mb-12
                = t('.donate_body')
              = link_to t('.donate_now'), donate_path, class: 'btn btn-primary'

  %article
    .md-container
      .flex.text-center.flex-col.items-center
        %h1.text-h1.mb-16= t('.your_progress')
        %p.text-p-xlarge
          = t('.progress_intro')
        %p.text-p-large.cta
          = t('.progress_cta')

      .grid.grid-cols-1.xl:grid-cols-4.lg:grid-cols-3.sm:grid-cols-2.gap-32.mx-auto.exercises
        - live_exercises.each do |exercise|
          - status = exercise.status.to_s.dasherize
          - num_completed_tracks = exercise.completed_tracks.count { |_, year| year == 2024 }
          .exercise{ class: status }
            = link_to generic_exercise_path(exercise.slug), class: 'info' do
              = image_tag "#{Exercism.config.website_icons_host}/exercises/#{exercise.slug}.svg", alt: t('.exercise_icon_alt', title: exercise.title), class: "exercise-icon c-icon"
              .text-h3.mb-16= exercise.title
              %progress.progress-bar{ value: num_completed_tracks, max: 3 }
              - if num_completed_tracks > 2
                .count= t('.completed_all', count: num_completed_tracks)
              - else
                .count= t('.completed_partial', count: num_completed_tracks)
            .featured
              .tracks
                - exercise.featured_tracks.map do |track_slug|
                  - completed = exercise.completed_tracks.key?(track_slug)
                  = link_to track_exercise_path(track_slug, exercise.slug), class: "track-icon #{completed ? 'completed' : ''}", title: "#{tracks[track_slug]} #{completed ? t('.completed_suffix') : ''}" do
                    = image_tag "#{Exercism.config.website_icons_host}/tracks/#{track_slug}.svg", alt: t('.track_icon_alt', title: tracks[track_slug])

        - if num_placeholders.positive?
          - num_placeholders.times do
            .shadow-base.bg-backgroundColorA.rounded-8.flex.flex-col.items-center.justify-center.opacity-60{ class: 'min-h-[175px]' }
              .text-h0{ class: "opacity-[0.2]" } ?
