#challenge-12in23-page
  %section.top-section
    .lg-container
      .flex
        .mr-auto{ class: 'max-w-[860px]' }
          .text-purple.font-semibold.leading-150.flex.items-center.mb-4
            %span.emoji.mr-6 📆
            = t('.month_of')
          %h1.text-h1.mb-8= t('.title')
          %p.text-p-xlarge.mb-20
            = t('.intro')

          .shadow-baseZ1.grid.grid-cols-2.gap-20.py-20.px-20.rounded-8.bg-white
            .flex-shrink
              %h2.text-h4.mb-2= t('.overview_video_heading')
              %p.text-p-base.mb-8
                = t('.overview_video_body')
              %p.text-p-base
                = t('.overview_video_cta')

            .rhs
              %div{ class: 'w-[100%] max-w-[500px]' }
                = render ReactComponents::Common::YoutubePlayer.new('_PPXEJZ7gOg', 'challenge#show')

          %h2.text-h3.mt-32.mb-2= t('.learn_and_earn_heading')
          %p.text-p-large.mb-20
            = t('.learn_and_earn_body')
            = graphical_icon "concepts", css_class: 'w-[14px] h-[14px] filter-purple inline mx-[-4px]'
            = t('.learn_and_earn_body_after')

          - tracks = Track.where(slug: %w[c cpp d go nim rust vlang zig])
          .grid.grid-cols-8.gap-12.mb-32
            - tracks.each do |track|
              = link_to track, class: 'rounded-12 shadow-base hover:shadow-baseZ1 bg-white flex flex-col p-12 text-center relative' do
                - if track.course?
                  .rounded-circle.bg-white.p-4.shadow-baseZ1{ class: 'absolute top-[-7px] right-[-7px]' }
                    = graphical_icon "concepts", css_class: 'w-[14px] h-[14px] filter-purple'
                = image_tag track.icon_url, class: 'mb-8'
                .text-h6= track.title

          %p.text-p-large.mb-12
            = t('.recommended_intro')
          %ul.text-p-large.mb-12
            %li.mb-2
              = image_tag "#{Exercism.config.website_icons_host}/exercises/linked-list.svg", class: "w-[25px] inline"
              %strong.font-semibold= t('.exercise_linked_list_name')
              = t('.exercise_linked_list_desc')
            %li.mb-2
              = image_tag "#{Exercism.config.website_icons_host}/exercises/secret-handshake.svg", class: "w-[25px] inline"
              %strong.font-semibold= t('.exercise_secret_handshake_name')
              = t('.exercise_secret_handshake_desc')
            %li.mb-2
              = image_tag "#{Exercism.config.website_icons_host}/exercises/pangram.svg", class: "w-[25px] inline"
              %strong.font-semibold= t('.exercise_pangram_name')
              = t('.exercise_pangram_desc')
            %li.mb-2
              = image_tag "#{Exercism.config.website_icons_host}/exercises/sieve.svg", class: "w-[25px] inline"
              %strong.font-semibold= t('.exercise_sieve_name')
              = t('.exercise_sieve_desc')
            %li.mb-2
              = image_tag "#{Exercism.config.website_icons_host}/exercises/binary-search.svg", class: "w-[25px] inline"
              %strong.font-semibold= t('.exercise_binary_search_name')
              = t('.exercise_binary_search_desc')

          %p.text-p-base.italic= t('.simple_linked_list_note')

          %h2.text-h3.mt-32.mb-4= t('.learn_from_others_heading')
          %p.text-p-large.mb-12
            = t('.learn_from_others_body')
            = t('.subscribe_to_our')
            = link_to t('.twitch_channel'), 'https://twitch.tv/exercismlive', class: 'underline'
            = t('.and')
            = link_to t('.youtube_channel'), 'https://www.youtube.com/exercism_videos?sub_confirmation=1', class: 'underline'
            = t('.to_not_miss_out')
            = t('.schedule_top_right')

          %h2.text-h3.mt-32.mb-4= t('.join_conversation_heading')
          %ul.text-p-large.list-disc.pl-16
            %li.mb-4
              = t('.help_compile_before')
              = link_to t('.definitive_list'), "https://forum.exercism.org/t/the-definitive-guide-to-learning-systems-languages/4181"
              = t('.help_compile_after')
            %li.mb-4
              = t('.join_using_before')
              = link_to t('.forum_tag'), "https://forum.exercism.org/tag/12in23"
              = t('.join_using_middle')
              %strong.font-semibold #12in23
              = t('.join_using_after')
            %li.mb-4
              = t('.swag_note')

        .ml-80{ class: 'max-w-[450px]' }
          .bg-unnamed15.rounded-8.py-16.px-24.mb-24.border-1.border-borderColor7
            %h2.text-h4.mb-4= t('.streaming_schedule_heading')
            %p.text-p-base.mb-12
              = t('.streaming_schedule_body')
              = link_to t('.twitch_channel'), 'https://twitch.tv/exercismlive', class: 'underline'
              = t('.streaming_schedule_subscribe')
              %strong.font-semibold= t('.all_times_utc')

            %ul.text-p-base.list-disc.pl-16
              - StreamingEvent.next_5.each do |event|
                %li.mb-4
                  .font-medium.text-textColor6.text-14.leading-100
                    = format_datetime(event.starts_at)
                  %strong.font-semibold.text-textColor2= event.title


          .bg-unnamed15.rounded-8.py-16.px-24.mb-24.border-1.border-borderColor7
            %h2.text-h4.mb-4= t('.how_does_it_work_heading')
            %p.text-p-base.mb-12
              = t('.how_does_it_work_body')
            .grid.grid-cols-2.gap-12
              = link_to "https://youtu.be/e15lRHLJQKI", class: 'bg-white p-8 shadow-smZ1 rounded-5 relative' do
                = graphical_icon "video-play", css_class: '!absolute top-[40px] w-[30px] left-[50%] ml-[-15px]', style: "filter: var(--white-filter) drop-shadow(0px 0px 6px black)"
                = image_tag "https://assets.exercism.org/images/thumbnails/yt-12in23-feb-update.jpg", alt: t('.video_thumbnail_alt'), class: 'mb-8 block block w-fill rounded-5'
                .text-center.text-h6= t('.video_hows_it_going')

              = link_to "https://youtu.be/2refhxXqePI", class: 'bg-white p-8 shadow-smZ1 rounded-5 relative' do
                = graphical_icon "video-play", css_class: '!absolute top-[40px] w-[30px] left-[50%] ml-[-15px]', style: "filter: var(--white-filter) drop-shadow(0px 0px 6px black)"
                = image_tag "https://assets.exercism.org/images/thumbnails/yt-official-12in23-calendar.jpg", alt: t('.video_thumbnail_alt'), class: 'mb-8 block w-fill rounded-5'
                .text-center.text-h6= t('.video_official_calendar')

            %p.text-p-small.text-center.mt-20.bg-veryLightBlue.rounded-8.py-8.px-12.font-medium
              = t('.track_progress_note')

          .bg-unnamed15.rounded-8.py-16.px-24.border-1.border-borderColor7
            %h2.text-h4.mb-4= t('.donate_heading')
            %p.text-p-base.mb-12
              = t('.donate_body')
            = link_to t('.donate_now'), donate_path, class: 'btn btn-primary'

          .bg-unnamed15.rounded-8.py-16.px-24.border-1.border-borderColor7.mt-24
            %h2.text-h4.mb-4= t('.year_long_badge_heading')
            %p.text-p-base.mb-12
              = t('.year_long_badge_body')
              = raw t('.year_long_badge_forum_post_html', href: 'https://forum.exercism.org/t/new-12in23-badge-for-completing-all-the-things/4183')

            - if @badge_progress_exercises.present?
              %h2.text-h6.mt-20.mb-12
                = t('.published_exercises')
                .inline.text-14= t('.published_exercises_count', count: @badge_progress_exercises.size)
              .grid.grid-cols-6.gap-12
                - @badge_progress_exercises.each do |track_slug, exercise_slug|
                  = link_to track_exercise_path(track_slug, exercise_slug) do
                    = image_tag "#{Exercism.config.website_icons_host}/exercises/#{exercise_slug}.svg", class: "w-[48px]"
            - else
              %h2.text-h6.mt-20= t('.no_valid_exercises')

  %article
    .md-container
      .flex.text-center.flex-col.items-center
        %h1.text-h1.mb-16= t('.progress_heading')
        %p.text-p-xlarge
          = t('.progress_body')
        %p.text-p-large.cta
          = t('.progress_cta')

      .grid.grid-cols-4.gap-32.mx-auto
        - @track_counts.each do |track_id, count|
          - track = @tracks[track_id]
          = link_to track_path(track), class: "relative text-center shadow-baseZ1 bg-white py-16 px-24 rounded-8 flex flex-col items-center border-2 #{count >= 5 ? 'border-successColor' : 'border-transparent'}" do
            = image_tag track.icon_url, alt: '', class: "c-icon c-track-icon h-[48px] w-[48px] mb-8"
            .text-h4.mb-20= track.title
            - if count >= 5
              = icon "completed-check-circle", t('.completed'), width: 24, height: 24, css_class: "!absolute top-[-12px] right-[-12px]"
              .progress
              .count= t('.exercises_completed', count: count)
            - else
              %progress.progress-bar{ value: count, max: 5 }
              .count= t('.exercises_completed_of_5', count: count)

        - num_placeholders = 12 - @track_counts.size
        - if num_placeholders.positive?
          - num_placeholders.times do
            .shadow-base.bg-white.rounded-8.flex.flex-col.items-center.justify-center{ class: 'min-h-[175px]' }
              .text-h0{ class: "opacity-[0.2]" } ?
