- content_for :meta_title, t('.meta_title').html_safe
- content_for :meta_description, t('.meta_description').html_safe
- require_stylesheet "about"

= render ViewComponents::AboutNav.new(:hiring)

#page-hiring-job.bg-backgroundColorA.pb-16
  %header.c-shapes
    .md-container
      = link_to hiring_about_path, class: "c-prominent-link" do
        = graphical_icon "arrow-left"
        = t('.back_to_listings')

      .role
        = graphical_icon "hiring-content", category: 'graphics', css_class: 'graphic'
        .information
          %h1.text-h0.mb-12= t('.job_title')
          .details
            .remote-tag
              = graphical_icon "stars"
              = t('.remote')
            .salary= t('.salary')

  %article
    .sm-container
      %p.text-p-2xlarge.mb-40
        %strong= t('.intro.heading')
        = t('.intro.body')

      %h2.text-h2.mb-12= t('.summary.title')
      %p.text-p-xlarge.mb-16
        = t('.summary.paragraph_one_html', about_link: link_to(t('.summary.about_link_text'), 'https://exercism.org/about', target: '_blank', rel: :noreferrer)).html_safe
      %p.text-p-xlarge.mb-16
        = t('.summary.paragraph_two')
      %p.text-p-xlarge.mb-32
        = t('.summary.paragraph_three')

      %h2.text-h2.mb-12= t('.responsibilities.title')
      %p.text-p-xlarge.mb-16
        = t('.responsibilities.intro')
      %p.text-p-xlarge.mb-12
        = t('.responsibilities.strategic_intro')
      %ul.text-p-xlarge.mb-16
        %li= t('.responsibilities.strategic_one')
        %li= t('.responsibilities.strategic_two')
        %li= t('.responsibilities.strategic_three')
      %p.text-p-xlarge.mb-16
        = t('.responsibilities.writing')
      %p.text-p-xlarge.mb-16
        = t('.responsibilities.media')

      %h2.text-h2.mb-12= t('.right_for_you.title')
      %p.text-p-xlarge.mb-12
        = t('.right_for_you.paragraph_one')
      %p.text-p-xlarge.mb-12
        = t('.right_for_you.paragraph_two')
      %p.text-p-xlarge.mb-8
        = t('.right_for_you.examples_intro')
      %ul.text-p-xlarge.mb-16
        %li
          = link_to t('.right_for_you.example_trees_text'), "https://medium.com/basecs/how-to-not-be-stumped-by-trees-5f36208f68a7"
          = t('.right_for_you.example_trees_note')
        %li
          = link_to t('.right_for_you.example_fruit_text'), "https://maggieappleton.com/fruit-comparison"
          = t('.right_for_you.example_fruit_note')
        %li
          = link_to t('.right_for_you.example_jit_text'), "https://hacks.mozilla.org/2017/02/a-crash-course-in-just-in-time-jit-compilers"
          = t('.right_for_you.example_jit_note')

      %p.text-p-xlarge.mb-12
        = t('.right_for_you.paragraph_three')

      %p.text-p-xlarge.mb-12
        = t('.right_for_you.paragraph_four')
      %p.text-p-xlarge.mb-12
        = t('.right_for_you.paragraph_five')
      %p.text-p-xlarge.mb-40
        = t('.right_for_you.paragraph_six')

      %h2.text-h2.mb-12= t('.other_requirements.title')
      %p.text-p-xlarge.mb-16
        = t('.other_requirements.intro')

      %p.text-p-xlarge.mb-16
        = t('.other_requirements.list_intro')

      %ul.text-p-xlarge.mb-16
        %li= t('.other_requirements.timezone')
        %li= t('.other_requirements.travel')
        %li= t('.other_requirements.english')
        %li= t('.other_requirements.inclusive')

      %p.text-p-xlarge.mb-40
        %em
          = t('.other_requirements.encouragement_html')

      %h2.text-h2.mb-12= t('.benefits.title')
      %p.text-p-xlarge.mb-16
        = t('.benefits.intro')

      %ul.text-p-xlarge.mb-16
        %li= t('.benefits.flexible')
        %li= t('.benefits.environment')
        %li= t('.benefits.salary')
        %li= t('.benefits.pension')
        %li= t('.benefits.holiday')
        %li= t('.benefits.coworking')

      %p.text-p-xlarge.mb-40
        = t('.benefits.working_week')

      %h2.text-h2.mb-12= t('.how_to_apply.title')
      %p.text-p-xlarge.mb-16
        = t('.how_to_apply.thanks')
      %p.text-p-xlarge.mb-16
        = t('.how_to_apply.email_intro')
        = link_to "jobs@exercism.org", "mailto:jobs@exercism.org"
        = t('.how_to_apply.email_with')

      %ul.text-p-xlarge.mb-24
        %li= t('.how_to_apply.item_subject')
        %li= t('.how_to_apply.item_intro')
        %li
          = t('.how_to_apply.item_video_html', loom_link: link_to('Loom', 'https://www.loom.com')).html_safe
        %li
          = t('.how_to_apply.item_sample')
          %em.text-italic= t('.how_to_apply.item_sample_note')
          = t('.how_to_apply.item_sample_more')
          %ul.mt-4
            %li= t('.how_to_apply.topic_numbers')
            %li= t('.how_to_apply.topic_bits')
            %li= t('.how_to_apply.topic_exceptions')
            %li= t('.how_to_apply.topic_randomness')

      %p.text-p-xlarge.mb-8
        = t('.how_to_apply.process_intro')

      %ul.text-p-xlarge.mb-16
        %li= t('.how_to_apply.process_one')
        %li= t('.how_to_apply.process_two')
        %li= t('.how_to_apply.process_three')
        %li= t('.how_to_apply.process_four')
        %li= t('.how_to_apply.process_five')
        %li= t('.how_to_apply.process_six')
        %li= t('.how_to_apply.process_seven')
