- content_for :meta_title, t('.meta_title').html_safe
- content_for :meta_description, "".html_safe
- require_stylesheet "about"

= render ViewComponents::AboutNav.new(:hiring)

#page-hiring-job.bg-backgroundColorA.pb-16
  %header.c-shapes
    .md-container
      = link_to hiring_about_path, class: "c-prominent-link" do
        = graphical_icon "arrow-left"
        = t('.back_to_listings')

      .role
        = graphical_icon "hiring-rails-developer", category: 'graphics', css_class: 'graphic'
        .information
          %h1.text-h0.mb-12= t('.role_title')
          .details
            .remote-tag
              = graphical_icon "stars"
              = t('.remote')
            .salary= t('.salary')

  %article
    .sm-container
      %p.text-p-2xlarge.mb-40
        %strong= t('.intro.lead')
        = t('.intro.body')

      %h2.text-h2.mb-12= t('.summary.heading')
      %p.text-p-xlarge.mb-16
        = t('.summary.p1')
        = t('.summary.about_link_html', link: link_to(t('.summary.about_link_text'), 'https://exercism.org/about', target: '_blank', rel: :noreferrer))
      %p.text-p-xlarge.mb-16
        = t('.summary.p2')
      %p.text-p-xlarge.mb-40
        = t('.summary.p3')

      %h2.text-h2.mb-12= t('.responsibilities.heading')
      %p.text-p-xlarge.mb-16
        = t('.responsibilities.p1')
      %p.text-p-xlarge.mb-16
        = t('.responsibilities.p2')
      %ul.text-p-xlarge.mb-20
        %li= t('.responsibilities.item1')
        %li= t('.responsibilities.item2')
        %li= t('.responsibilities.item3')
        %li= t('.responsibilities.item4')
        %li= t('.responsibilities.item5_html')
      %ul.text-p-xlarge.mb-16
        = t('.responsibilities.working_with')
      %ul.text-p-xlarge.mb-16
        %li= t('.responsibilities.team1')
        %li= t('.responsibilities.team2')
        %li= t('.responsibilities.team3')
      %p.text-p-xlarge.mb-40
        = t('.responsibilities.p3')

      %h2.text-h2.mb-12= t('.technical.heading')

      %p.text-p-xlarge.mb-16
        = t('.technical.p1')
      %p.text-p-xlarge.mb-12
        = t('.technical.p2')
      %ul.text-p-xlarge.mb-16
        %li
          = t('.technical.item_ruby')
        %li= t('.technical.item_tests')
        %li= t('.technical.item_sql')
        %li
          = t('.technical.item_aws_html')

      %p.text-p-xlarge.mb-16
        = t('.technical.patterns_html', controller_action: link_to(t('.technical.link_controller_action'), 'https://github.com/exercism/website/blob/main/app/controllers/api/tracks_controller.rb#L6-L17'), command: link_to(t('.technical.link_command'), 'https://github.com/exercism/website/blob/main/app/commands/track/search.rb'), these: link_to(t('.technical.link_these'), 'https://github.com/exercism/website/blob/main/app/serializers/serialize_tracks.rb'), two: link_to(t('.technical.link_two'), 'https://github.com/exercism/website/blob/main/app/serializers/serialize_track.rb'), track_model: link_to(t('.technical.link_track_model'), 'https://github.com/exercism/website/blob/main/app/models/track.rb'))
      %p.text-p-xlarge.mb-40
        %strong
          = t('.technical.before_applying_html', codebase: link_to(t('.technical.link_codebase'), 'https://github.com/exercism/website'))
        = t('.technical.interview_stage')

      %h2.text-h2.mb-12= t('.personally.heading')
      %p.text-p-xlarge.mb-12
        = t('.personally.p1')
      %ul.text-p-xlarge.mb-16
        %li= t('.personally.item1')
        %li= t('.personally.item2')
        %li= t('.personally.item3')
        %li= t('.personally.item4')
        %li= t('.personally.item5')

      %p.text-p-xlarge.mb-12
        = t('.personally.p2')
      %p.text-p-xlarge.mb-40
        = t('.personally.p3')

      %h2.text-h2.mb-12= t('.requirements.heading')
      %p.text-p-xlarge.mb-16
        = t('.requirements.p1')

      %p.text-p-xlarge.mb-16
        = t('.requirements.p2')

      %ul.text-p-xlarge.mb-16
        %li= t('.requirements.item1')
        %li= t('.requirements.item2')
        %li= t('.requirements.item3_html')
        %li= t('.requirements.item4')

      %p.text-p-xlarge.mb-40
        %em
          = t('.requirements.encouragement_html')

      %h2.text-h2.mb-12= t('.benefits.heading')
      %p.text-p-xlarge.mb-16
        = t('.benefits.p1')

      %ul.text-p-xlarge.mb-16
        %li= t('.benefits.item1')
        %li= t('.benefits.item2')
        %li= t('.benefits.item3')
        %li= t('.benefits.item4')
        %li= t('.benefits.item5')
        %li= t('.benefits.item6')

      %p.text-p-xlarge.mb-40
        = t('.benefits.p2')

      %h2.text-h2.mb-12= t('.apply.heading')
      %p.text-p-xlarge.mb-16
        = t('.apply.p1')
      %p.text-p-xlarge.mb-16
        = t('.apply.p2')
      %p.text-p-xlarge.mb-16
        = t('.apply.email_intro')
        = link_to "jobs@exercism.org", "mailto:jobs@exercism.org"
        = t('.apply.email_with')

      %ul.text-p-xlarge.mb-24
        %li= t('.apply.item_subject')
        %li= t('.apply.item_intro')
        %li= t('.apply.item_experience')
        %li
          = t('.apply.item_video_html', loom: link_to('Loom', 'https://www.loom.com'))

      %p.text-p-xlarge.mb-16
        = t('.apply.process_intro')

      %ul.text-p-xlarge.mb-16
        %li= t('.apply.step1')
        %li= t('.apply.step2')
        %li= t('.apply.step3')
        %li= t('.apply.step4')
        %li= t('.apply.step5')
        %li= t('.apply.step6')
        %li= t('.apply.step7')
        %li= t('.apply.step8')
