- content_for :meta_title, t('.meta_title').html_safe
- content_for :meta_description, t('.meta_description').html_safe
- require_stylesheet "about"

= render ViewComponents::AboutNav.new(:hiring)

#page-hiring-job.bg-backgroundColorA.pb-16
  %header.c-shapes
    .md-container
      = link_to hiring_about_path, class: "c-prominent-link" do
        = graphical_icon "arrow-left"
        = t('.back_to_listings')

      .role
        = graphical_icon "hiring-front-end-developer", category: 'graphics', css_class: 'graphic'
        .information
          %h1.text-h0.mb-12= t('.role_title')
          .details
            .remote-tag
              = graphical_icon "stars"
              = t('.remote')
            .salary= t('.salary')

  %article
    .sm-container
      %p.text-p-2xlarge.mb-40
        %strong= t('.intro_lead')
        = t('.intro_body')

      %h2.text-h2.mb-12= t('.summary_heading')
      %p.text-p-xlarge.mb-16
        != t('.summary_p1_html', about_link: link_to('"About Exercism" pages', 'https://exercism.org/about', target: '_blank', rel: :noreferrer))
      %p.text-p-xlarge.mb-16= t('.summary_p2')
      %p.text-p-xlarge.mb-40= t('.summary_p3')

      %h2.text-h2.mb-12= t('.responsibilities_heading')
      %p.text-p-xlarge.mb-16= t('.responsibilities_intro')
      %ul.text-p-xlarge.mb-16
        %li= t('.responsibilities_core_1')
        %li= t('.responsibilities_core_2')
      %p.text-p-xlarge.mb-16= t('.responsibilities_variety')
      %ul.text-p-xlarge.mb-20
        %li= t('.responsibilities_task_1')
        %li= t('.responsibilities_task_2')
        %li= t('.responsibilities_task_3')
        %li= t('.responsibilities_task_4')
        %li= t('.responsibilities_task_5')
        %li!= t('.responsibilities_task_6_html')
      %p.text-p-xlarge.mb-16= t('.responsibilities_stack')
      %p.text-p-xlarge.mb-40= t('.responsibilities_community')

      %h2.text-h2.mb-12= t('.fit_heading')

      %p.text-p-xlarge.mb-12= t('.fit_p1')
      %p.text-p-xlarge.mb-12= t('.fit_p2')
      %ul.text-p-xlarge.mb-16
        %li= t('.fit_question_1')
        %li= t('.fit_question_2')
      %p.text-p-xlarge.mb-12= t('.fit_p3')
      %ul.text-p-xlarge.mb-16
        %li= t('.fit_principle_1')
        %li= t('.fit_principle_2')
        %li= t('.fit_principle_3')
        %li= t('.fit_principle_4')
        %li= t('.fit_principle_5')

      %p.text-p-xlarge.mb-12= t('.fit_p4')
      %p.text-p-xlarge.mb-40= t('.fit_p5')

      %h2.text-h2.mb-12= t('.other_heading')
      %p.text-p-xlarge.mb-16= t('.other_p1')

      %p.text-p-xlarge.mb-16= t('.other_p2')

      %ul.text-p-xlarge.mb-16
        %li= t('.other_req_1')
        %li= t('.other_req_2')
        %li!= t('.other_req_3_html')
        %li= t('.other_req_4')

      %p.text-p-xlarge.mb-40
        %em
          != t('.other_encouragement_html')

      %h2.text-h2.mb-12= t('.benefits_heading')
      %p.text-p-xlarge.mb-16= t('.benefits_intro')

      %ul.text-p-xlarge.mb-16
        %li= t('.benefits_1')
        %li= t('.benefits_2')
        %li= t('.benefits_3')
        %li= t('.benefits_4')
        %li= t('.benefits_5')
        %li= t('.benefits_6')

      %p.text-p-xlarge.mb-40= t('.benefits_hours')

      %h2.text-h2.mb-12= t('.apply_heading')
      %p.text-p-xlarge.mb-16= t('.apply_thanks')
      %p.text-p-xlarge.mb-16
        != t('.apply_challenge_html', challenge_link: link_to('details of the challenge here', 'https://github.com/exercism/hiring-frontend-developer'))
      %p.text-p-xlarge.mb-16
        = t('.apply_email_lead')
        = link_to "jobs@exercism.org", "mailto:jobs@exercism.org"
        = t('.apply_email_trail')

      %ul.text-p-xlarge.mb-24
        %li= t('.apply_item_subject')
        %li= t('.apply_item_intro')
        %li
          = t('.apply_item_video_lead')
          != t('.apply_item_video_trail_html', loom_link: link_to('Loom', 'https://www.loom.com'))
        %li= t('.apply_item_code')
        %li= t('.apply_item_solution')

      %p.text-p-xlarge.mb-16= t('.process_intro')

      %ul.text-p-xlarge.mb-16
        %li= t('.process_1')
        %li= t('.process_2')
        %li= t('.process_3')
        %li= t('.process_4')
        %li= t('.process_5')
        %li= t('.process_6')
