.c-admin-page
  .lg-container
    %h1.text-h1.mb-8= t('.title')
    %table.c-admin-table
      - @community_videos.each do |community_video|
        %tr
          %td= community_video.title
          %td= community_video.status.to_s.titleize
          %td= link_to t('.details'), [:admin, community_video]
          %td= link_to t('.edit'), edit_admin_community_video_path(community_video)
    .flex
      = link_to t('.new'), new_admin_community_video_path, class: 'btn btn-primary btn-base'
